Repository Demianeen/react-production: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Fix jest tests
  server/db.json
  src/entities/Profile/ui/ProfileCard/ProfileCardDeprecated/ProfileCardDeprecated.tsx
  src/entities/Profile/ui/ProfileCard/ProfileCardRedesigned/ProfileCardRedesigned.tsx
  src/features/EditableProfileCard/ui/EditableProfileCard/EditableProfileCard.test.tsx
  src/features/EditableProfileCard/ui/EditableProfileCardHeader/EditableProfileCardHeader.tsx
  src/shared/lib/tests/componentRender/componentRender.tsx
  src/widgets/ArticleInfiniteList/model/slice/articleInfiniteListSlice.test.ts
Due: prettier --write, eslint --fix

Fix pm2 in deployment script, add pm2 config
  .deploy/pm2.config.js
  .github/workflows/building-and-deploying.yml
Due: none

Test ci delay decorator
  src/shared/lib/storybook/CiDelayDecorator.tsx
Due: prettier --write, eslint --fix

Add CI delay decorator for Storybook, STORYBOOK_CI env
  package.json
  src/shared/lib/storybook/CiDelayDecorator.tsx
  src/shared/lib/storybook/LokiDelayDecorator.tsx
Due: prettier --write, eslint --fix

Decrease delay for ci delay decorator
  src/shared/lib/storybook/CiDelayDecorator.tsx
Due: prettier --write, eslint --fix

Remove CiDelayDecorator from Storybook preview configuration
  config/storybook/preview.ts
Due: prettier --write, eslint --fix

Add CiDelayDecorator to RatingCardRedesigned, ArticleCommentList, ArticleInfiniteListDeprecated
  src/entities/Rating/ui/RatingCard/RatingCardRedesigned/RatingCardRedesigned.stories.tsx
  src/features/ArticleCommentList/ui/ArticleCommentList/ArticleCommentList.stories.tsx
  src/widgets/ArticleInfiniteList/ui/ArticleInfiniteList/ArticleInfiniteListDeprecated/ArticleInfiniteListDeprecated.stories.tsx
Due: prettier --write, eslint --fix

Revert "Remove CiDelayDecorator from Storybook preview configuration"
  config/storybook/preview.ts
Due: prettier --write, eslint --fix

Revert "Add CiDelayDecorator to RatingCardRedesigned, ArticleCommentList, ArticleInfiniteListDeprecated"
  src/entities/Rating/ui/RatingCard/RatingCardRedesigned/RatingCardRedesigned.stories.tsx
  src/features/ArticleCommentList/ui/ArticleCommentList/ArticleCommentList.stories.tsx
  src/shared/lib/storybook/CiDelayDecorator.tsx
  src/widgets/ArticleInfiniteList/ui/ArticleInfiniteList/ArticleInfiniteListDeprecated/ArticleInfiniteListDeprecated.stories.tsx
Due: prettier --write, eslint --fix

Change 1password ssh key name
  .github/workflows/building-and-deploying.yml
  .github/workflows/testing.yml
Due: none

Add msw docs Update msw doc
  README.md
  docs/msw.md
Due: none

Add recommended extensions for vscode
  .vscode/extensions.json
  .vscode/settings.json
  README.md
Due: none

Add test docs, getMockEntityAdapterData Update tests doc
  README.md
  cypress/component/EditableProfileCard.cy.tsx
  docs/tests.md
  package.json
  src/entities/Article/model/mocks/mockArticleEntities.ts
  src/entities/Comment/model/mocks/mockComment.ts
  src/entities/Comment/model/mocks/mockCommentEntities.ts
  src/shared/lib/tests/TestAsyncThunk/TestAsyncThunk.ts
  src/shared/lib/tests/componentRender/TestProvider.tsx
  src/shared/lib/tests/componentRender/componentRender.tsx
  src/shared/lib/tests/getMockEntityAdapterData/getMockArray.ts
  src/shared/lib/tests/getMockEntityAdapterData/getMockEntities.ts
  src/shared/lib/tests/getMockEntityAdapterData/getMockEntityAdapterData.ts
  src/shared/lib/tests/getMockEntityAdapterData/getMockIds.ts
Due: prettier --write, eslint --fix

Create a script to check layer docs, change ts-node with tsx
  .husky/pre-commit
  README.md
  package-lock.json
  package.json
  scripts/checkLayerDocs/index.ts
  scripts/checkLayerDocs/lib/comparePublicApiToReadme.ts
  scripts/refactoring/updateLayersDocs/createDocsForEachSlice.ts
  scripts/refactoring/updateLayersDocs/updateLayersDocs.ts
  src/app/providers/StoreProvider/config/stateSchema.ts
  src/entities/Article/README.md
  src/entities/CommentForm/README.md
  src/entities/Counter/README.md
  src/entities/ListFilters/README.md
  src/entities/Notification/README.md
  src/entities/Profile/README.md
  src/entities/Rating/README.md
  src/entities/User/README.md
  src/features/AuthByUsername/README.md
  src/features/AuthByUsername/index.ts
  src/features/AuthByUsername/ui/AuthModal/AuthModal.tsx
  src/features/EditableProfileCard/README.md
  src/features/EditableProfileCard/index.ts
  src/features/EditableProfileCard/model/slice/profileSlice.test.ts
  src/features/EditableProfileCard/model/slice/profileSlice.ts
  src/features/EditableProfileCard/model/types/editableProfileSchema.ts
  src/features/UserDropdown/README.md
  src/pages/NotFoundPage/README.md
  src/widgets/Navbar/README.md
  src/widgets/Navbar/ui/Navbar/NavbarDeprecated/NavbarDeprecated.tsx
  src/widgets/Navbar/ui/Navbar/NavbarRedesigned/NavbarRedesigned.tsx
  src/widgets/Sidebar/README.md
  tsconfig.json
  utils/getPublicApiExports.ts
Due: prettier --write, eslint --fix

Fix storybook build, update storybook
  config/storybook/main.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Add storybook docs
  docs/storybook.md
  src/features/EditableProfileCard/ui/EditableProfileCard/EditableProfileCard.stories.tsx
Due: prettier --write, eslint --fix

Fix settings for workspace
  .vscode/settings.json
Due: none

Fix drawer scrolling
  config/build/buildPlugins.ts
  index.html
  src/app/styles/index.scss
  src/entities/Rating/ui/RatingCard/RatingCardDeprecated/RatingCardDeprecated.tsx
  src/features/ArticlePageGreeting/ui/ArticlePageGreeting/ArticlePageGreeting.tsx
  src/features/AuthByUsername/ui/AuthModal/AuthModal.tsx
  src/features/AuthByUsername/ui/LoginForm/LoginFormDeprecated/LoginForm.module.scss
  src/features/AuthByUsername/ui/LoginForm/LoginFormRedesigned/LoginForm.module.scss
  src/features/AuthByUsername/ui/RegistrationForm/RegistrationFormDeprecated/RegistrationForm.module.scss
  src/features/AuthByUsername/ui/RegistrationForm/RegistrationFormRedesigned/RegistrationForm.module.scss
  src/features/NotificationButton/ui/NotificationDrawer/NotificationDrawer.tsx
  src/shared/ui/deprecated/Drawer/Drawer.module.scss
  src/shared/ui/deprecated/Drawer/Drawer.stories.tsx
  src/shared/ui/deprecated/Drawer/Drawer.tsx
  src/shared/ui/deprecated/Drawer/index.ts
  src/shared/ui/redesigned/Drawer/Drawer.module.scss
  src/shared/ui/redesigned/Drawer/Drawer.stories.tsx
  src/shared/ui/redesigned/Drawer/Drawer.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Fix drawer drag
  src/shared/ui/redesigned/Drawer/Drawer.tsx
Due: prettier --write, eslint --fix

Update drawer
  src/shared/ui/redesigned/Drawer/Drawer.module.scss
  src/shared/ui/redesigned/Drawer/Drawer.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Add drag gesture to full page panel
  server/db.json
  src/shared/ui/redesigned/FullPagePanel/FullPagePanel.module.scss
  src/shared/ui/redesigned/FullPagePanel/FullPagePanel.tsx
  src/widgets/Navbar/ui/NavbarBurger/NavbarBurger.tsx
  src/widgets/Navbar/ui/NavbarBurgerMenu/NavbarBurgerMenu.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Fix pm2
  .deploy/pm2.config.js
  .github/workflows/building-and-deploying.yml
Due: none

Fix @typescript-eslint/naming-convention rule
  .eslintrc.js
  config/build/buildResolvers.ts
  server/index.ts
  src/entities/CommentForm/ui/CommentForm/CommentFormDeprecated/CommentForm.stories.tsx
  src/entities/CommentForm/ui/CommentForm/CommentFormRedesigned/CommentForm.stories.tsx
  src/shared/lib/storybook/ThemeDecorator.tsx
  src/shared/types/featureFlags.ts
  src/shared/ui/deprecated/Popups/const/mapDirection.ts
  src/shared/ui/redesigned/Card/Card.tsx
  src/shared/ui/redesigned/Popups/const/mapDirection.ts
  src/shared/ui/redesigned/Stack/lib/getFlexClassName.ts
  src/shared/ui/redesigned/StarRating/Star.tsx
  src/shared/ui/redesigned/Title/Title.tsx
  src/widgets/ArticleInfiniteList/ui/ArticleInfiniteList/ArticleInfiniteListRedesigned/ArticleInfiniteListRedesigned.tsx
Due: prettier --write, eslint --fix

Add missing slices in README, add description for each slice and layer
  README.md
  server/db.json
  src/pages/SettingsPage/README.md
Due: none

Add readme update and creation to createSlice, absolute path for root
  scripts/checkLayerDocs/lib/comparePublicApiToReadme.ts
  scripts/createSlice/generators/createApi/createApi.ts
  scripts/createSlice/generators/createModel/createModel.ts
  scripts/createSlice/generators/createModel/templates/reduxSchema.template.ts
  scripts/createSlice/generators/createModel/templates/reduxSlice.template.ts
  scripts/createSlice/generators/createPublicApi/createPublicApi.ts
  scripts/createSlice/generators/createPublicApi/templates/modelExport.template.ts
  scripts/createSlice/generators/createReadme/createReadme.ts
  scripts/createSlice/generators/createReadme/templates/componentReadme.template.ts
  scripts/createSlice/generators/createUi/createUi.ts
  scripts/createSlice/generators/createUi/templates/component.template.ts
  scripts/createSlice/generators/index.ts
  scripts/createSlice/generators/updateGlobalReadme/updateGlobalReadme.ts
  scripts/createSlice/index.ts
  scripts/createSlice/types/createSlice.ts
  scripts/refactoring/createPublicExportsForSharedUi.ts
  scripts/refactoring/updateLayersDocs/createDocsForEachSlice.ts
  scripts/renameSlice/generators/index.ts
  scripts/renameSlice/index.ts
  tsconfig.json
Due: prettier --write, eslint --fix

Fix eslint errors
  config/build/buildPlugins.ts
  src/entities/Article/model/lib/useArticleListSkeleton.tsx
  src/entities/Article/model/lib/useComputeListItemsLimit.ts
  src/features/NotificationButton/ui/NotificationDrawer/NotificationDrawer.tsx
  src/pages/NotFoundPage/ui/NotFoundPage.tsx
  src/shared/lib/react/getApp.ts
  src/shared/lib/store/buildSelector/reselect.types.ts
Due: prettier --write, eslint --fix

Add rename folder script
  README.md
  package.json
  scripts/rename/generators/renameDir.ts
  scripts/rename/generators/renameFile.ts
  scripts/rename/generators/renameFilesAndDirectories.ts
  scripts/rename/renameFolder.ts
  scripts/rename/renameSlice.ts
  scripts/rename/types/createSlice.ts
Due: prettier --write, eslint --fix

Add nvmrc
  .nvmrc
Due: none

Add rule to enforce no blank lines between imports
  .eslintrc.js
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  eslint --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.scss
