Repository Demianeen/react-production: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Add stories for article editor
  src/entities/Article/ui/ArticleDetails/ArticleDetailsDeprecated/ArticleDetailsDeprecated.tsx
  src/entities/Editor/ui/Editor/Editor.stories.tsx
  src/entities/Editor/ui/Editor/Editor.tsx
  src/entities/Editor/ui/Placeholder/Placeholder.stories.tsx
  src/features/DraggableBlockPlugin/ui/DraggableBlockPlugin/DraggableBlockPlugin.stories.tsx
  src/features/ImageToolbarPlugin/ui/ImageComponent/ImageComponent.stories.tsx
  src/features/ImageToolbarPlugin/ui/ImagePrompt/ImagePrompt.stories.tsx
  src/features/ImageToolbarPlugin/ui/ImageToolbarPlugin/ImageToolbarPlugin.stories.tsx
  src/features/LinkToolbarPlugin/ui/LinkPrompt/LinkPrompt.stories.tsx
  src/features/LinkToolbarPlugin/ui/LinkToolbarPlugin/LinkToolbarPlugin.stories.tsx
  src/shared/lib/storybook/LexicalDecorator.tsx
  src/widgets/ArticleEditor/config/theme.ts
  src/widgets/ArticleEditor/testing.ts
  src/widgets/ArticleEditor/ui/ArticleEditor/ArticleEditor.stories.tsx
  src/widgets/ArticleEditor/ui/ArticleEditor/ArticleEditor.tsx
  src/widgets/ArticleEditor/ui/SelectBlockTypeToolbarPlugin/SelectBlockTypeToolbarPlugin.stories.tsx
  src/widgets/ArticleEditor/ui/ToolbarPlugin/ToolbarPlugin.stories.tsx
  src/widgets/ArticleEditor/ui/ToolbarPlugin/ToolbarPlugin.tsx
Due: prettier --write, eslint --fix

Remove old article details code
  src/entities/Article/ui/ArticleCodeBlockComponent/ArticleCodeBlockComponent.module.scss
  src/entities/Article/ui/ArticleCodeBlockComponent/ArticleCodeBlockComponent.stories.tsx
  src/entities/Article/ui/ArticleCodeBlockComponent/ArticleCodeBlockComponent.tsx
  src/entities/Article/ui/ArticleDetails/ArticleDetailsRedesigned/renderBlock.tsx
  src/entities/Article/ui/ArticleImageBlockComponent/ArticleImageBlockComponent.module.scss
  src/entities/Article/ui/ArticleImageBlockComponent/ArticleImageBlockComponent.stories.tsx
  src/entities/Article/ui/ArticleImageBlockComponent/ArticleImageBlockComponent.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItemDeprecated/ArticleListItemDeprecated.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItemRedesigned/ArticleListItemRedesigned.tsx
  src/entities/Article/ui/ArticleTextBlockComponent/ArticleTextBlockComponent.tsx
  src/entities/Article/ui/ArticleTextBlockComponent/ArticleTextBlockComponentDeprecated/ArticleTextBlockComponentDeprecated.module.scss
  src/entities/Article/ui/ArticleTextBlockComponent/ArticleTextBlockComponentDeprecated/ArticleTextBlockComponentDeprecated.stories.tsx
  src/entities/Article/ui/ArticleTextBlockComponent/ArticleTextBlockComponentDeprecated/ArticleTextBlockComponentDeprecated.tsx
  src/entities/Article/ui/ArticleTextBlockComponent/ArticleTextBlockComponentRedesigned/ArticleTextBlockComponentRedesigned.module.scss
  src/entities/Article/ui/ArticleTextBlockComponent/ArticleTextBlockComponentRedesigned/ArticleTextBlockComponentRedesigned.stories.tsx
  src/entities/Article/ui/ArticleTextBlockComponent/ArticleTextBlockComponentRedesigned/ArticleTextBlockComponentRedesigned.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Comment cache deps
  .github/workflows/building-and-deploying.yml
  .github/workflows/linting.yml
Due: none

Add npm verify cache
  .github/workflows/building-and-deploying.yml
  .github/workflows/linting.yml
Due: none

Run npm update
  package-lock.json
  public/mockServiceWorker.js
Due: none

Uncomment github actions
  .github/workflows/building-and-deploying.yml
  .github/workflows/linting.yml
Due: none

Fix stories, update LexicalDecorator
  src/features/CodeBlockToolbarPlugin/ui/CodeBlockToolbarPlugin/CodeBlockToolbarPlugin.stories.tsx
  src/features/ImageToolbarPlugin/ui/ImageComponent/ImageComponent.stories.tsx
  src/features/ImageToolbarPlugin/ui/ImagePrompt/ImagePrompt.stories.tsx
  src/features/ImageToolbarPlugin/ui/ImageToolbarPlugin/ImageToolbarPlugin.stories.tsx
  src/features/LinkToolbarPlugin/ui/LinkPrompt/LinkPrompt.stories.tsx
  src/features/LinkToolbarPlugin/ui/LinkToolbarPlugin/LinkToolbarPlugin.stories.tsx
  src/shared/lib/storybook/LexicalDecorator.tsx
  src/widgets/ArticleEditor/lib/getArticleStylesClassName/getArticleStylesClassName.scss
  src/widgets/ArticleEditor/ui/SelectBlockTypeToolbarPlugin/SelectBlockTypeToolbarPlugin.stories.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Fix screens, stories
  .loki/reference/chrome_iphone7_features_CodeBlockToolbarPlugin_CodeBlockToolbarPlugin_Primary_Deprecated.png
  .loki/reference/chrome_iphone7_features_CodeBlockToolbarPlugin_CodeBlockToolbarPlugin_Primary_Redesigned.png
  .loki/reference/chrome_iphone7_features_CodeBlockToolbarPlugin_CodeBlockToolbarPlugin_With_Code_Highlight_Plugin_Deprecated.png
  .loki/reference/chrome_iphone7_features_CodeBlockToolbarPlugin_CodeBlockToolbarPlugin_With_Code_Highlight_Plugin_Redesigned.png
  .loki/reference/chrome_iphone7_widgets_ArticleEditor_SelectBlockTypeToolbarPlugin_Primary_Deprecated.png
  .loki/reference/chrome_iphone7_widgets_ArticleEditor_SelectBlockTypeToolbarPlugin_Primary_Redesigned.png
  .loki/reference/chrome_laptop_features_CodeBlockToolbarPlugin_CodeBlockToolbarPlugin_Primary_Deprecated.png
  .loki/reference/chrome_laptop_features_CodeBlockToolbarPlugin_CodeBlockToolbarPlugin_Primary_Redesigned.png
  .loki/reference/chrome_laptop_features_CodeBlockToolbarPlugin_CodeBlockToolbarPlugin_With_Code_Highlight_Plugin_Deprecated.png
  .loki/reference/chrome_laptop_features_CodeBlockToolbarPlugin_CodeBlockToolbarPlugin_With_Code_Highlight_Plugin_Redesigned.png
  .loki/reference/chrome_laptop_widgets_ArticleEditor_SelectBlockTypeToolbarPlugin_Primary_Deprecated.png
  .loki/reference/chrome_laptop_widgets_ArticleEditor_SelectBlockTypeToolbarPlugin_Primary_Redesigned.png
  src/features/TextFormatToolbarPlugin/ui/TextFormatToolbarPlugin/TextFormatToolbarPlugin.stories.tsx
  src/widgets/ArticleEditor/ui/ToolbarPlugin/ToolbarPlugin.stories.tsx
Due: prettier --write, eslint --fix

Add layout-x css variable, dynamic sidebar css property
  src/app/styles/variables/global.scss
  src/entities/Article/README.md
  src/entities/Article/index.ts
  src/entities/Article/model/types/article.ts
  src/entities/Article/ui/ArticleListItem/ArticleListItemRedesigned/ArticleListItemRedesigned.tsx
  src/entities/Editor/ui/Editor/Editor.module.scss
  src/features/CodeActionMenuPlugin/ui/CodeActionMenu/CodeActionMenu.scss
  src/shared/layouts/MainLayout/MainLayout.module.scss
  src/shared/ui/redesigned/AppLink/AppLink.module.scss
  src/shared/ui/redesigned/AppLink/AppLink.stories.tsx
  src/shared/ui/redesigned/AppLink/AppLink.tsx
  src/widgets/ArticleEditor/lib/getArticleStylesClassName/getArticleStylesClassName.scss
  src/widgets/Navbar/ui/Navbar/NavbarRedesigned/NavbarRedesigned.module.scss
  src/widgets/Sidebar/ui/Sidebar/SidebarRedesigned/SidebarRedesigned.module.scss
  src/widgets/Sidebar/ui/Sidebar/SidebarRedesigned/SidebarRedesigned.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Fix insertHTML in image node
  server/db.json
  src/features/ImageToolbarPlugin/lib/ImageNode/ImageNode.tsx
  src/pages/CreateArticlePage/ui/CreateArticle/CreateArticle.tsx
  src/widgets/ArticleEditor/lib/getArticleStylesClassName/getArticleStylesClassName.scss
Due: prettier --write, eslint --fix, stylelint --fix

Change image links to permanent storage
  server/db.json
Due: none

Add content to home and about pages, update readme
  README.md
  public/locales/uk/article-details.json
  server/db.json
  src/entities/Article/model/api/articleDetailsApi.ts
  src/pages/AboutPage/ui/AboutPage.module.scss
  src/pages/AboutPage/ui/AboutPage.tsx
  src/pages/CreateArticlePage/model/api/createArticleApi.ts
  src/pages/CreateArticlePage/ui/CreateArticle/CreateArticle.tsx
  src/pages/HomePage/ui/HomePage.module.scss
  src/pages/HomePage/ui/HomePage.tsx
  src/shared/api/rtkApi.ts
  src/widgets/ArticleEditor/lib/getArticleStylesClassName/getArticleStylesClassName.scss
Due: prettier --write, eslint --fix, stylelint --fix

Fix eslint dev dependencies
  .eslintrc.js
Due: none

Add storybook link to about project content
  server/db.json
Due: none

Fix screens
  src/widgets/ArticleInfiniteList/ui/ArticleInfiniteList/ArticleInfiniteListDeprecated/ArticleInfiniteListDeprecated.stories.tsx
Due: prettier --write, eslint --fix

Fix article details view for not logged users
  server/index.ts
  src/app/providers/router/config/routeConfig.tsx
Due: prettier --write, eslint --fix

Fix date in db, cypress article-list test
  cypress/e2e/article/article-list.cy.ts
  scripts/refactoring/dateTransform.ts
  server/db.json
  server/index.ts
Due: prettier --write, eslint --fix

Fix ArticleInfiniteListFilters overflow
  src/app/styles/variables/global.scss
  src/shared/layouts/MainLayout/MainLayout.module.scss
  src/shared/ui/redesigned/Popups/ui/Dropdown/Dropdown.tsx
  src/shared/ui/redesigned/TooltipButton/TooltipButton.module.scss
  src/widgets/ArticleInfiniteList/ui/ArticleFiltersContainer/ArticleFiltersContainer.tsx
  src/widgets/ArticleInfiniteList/ui/ArticleInfiniteList/ArticleInfiniteListRedesigned/ArticleInfiniteListRedesigned.module.scss
  src/widgets/ArticleInfiniteList/ui/ArticleInfiniteList/ArticleInfiniteListRedesigned/ArticleInfiniteListRedesigned.tsx
  src/widgets/Navbar/ui/Navbar/NavbarRedesigned/NavbarRedesigned.module.scss
  src/widgets/Navbar/ui/Navbar/NavbarRedesigned/NavbarRedesigned.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Add virtualized list navigation
  .loki/reference/chrome_iphone7_widgets_Navbar_Redesigned_Logged.png
  .loki/reference/chrome_laptop_widgets_Navbar_Redesigned_Logged.png
  server/db.json
  src/app/styles/index.scss
  src/app/styles/variables/global.scss
  src/entities/Article/ui/ArticleList/VirtualizedArticleList.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItemDeprecated/ArticleListItemDeprecated.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItemRedesigned/ArticleListItemRedesigned.tsx
  src/entities/Notification/ui/NotificationList/NotificationListRedesigned/NotificationListRedesigned.stories.tsx
  src/features/ScrollToTop/ui/ScrollToTopButton/ScrollToTopButton.tsx
  src/shared/ui/redesigned/Button/Button.tsx
  src/shared/ui/redesigned/Tabs/Tabs.tsx
  src/widgets/Navbar/ui/Navbar/NavbarRedesigned/NavbarRedesigned.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Fix bug when virtualized list items overflow web page
  src/entities/Article/ui/ArticleList/VirtualizedArticleList.tsx
Due: prettier --write, eslint --fix

Fix screens
  .loki/reference/chrome_iphone7_entities_Article_ArticleDetails_deprecated_Dark.png
  .loki/reference/chrome_iphone7_entities_Article_ArticleDetails_deprecated_Error.png
  .loki/reference/chrome_iphone7_entities_Article_ArticleDetails_deprecated_Light.png
  .loki/reference/chrome_iphone7_entities_Article_ArticleDetails_deprecated_Orange.png
  .loki/reference/chrome_iphone7_features_UserDropdown_Primary_Redesigned.png
  .loki/reference/chrome_iphone7_pages_CreateArticlePage_CreateArticlePage_Primary_Deprecated.png
  .loki/reference/chrome_iphone7_pages_CreateArticlePage_CreateArticlePage_Primary_Redesigned.png
  .loki/reference/chrome_iphone7_pages_CreateArticlePage_CreateArticle_Edit_Article.png
  .loki/reference/chrome_iphone7_pages_HomePage_Primary_Redesigned.png
  .loki/reference/chrome_iphone7_widgets_ArticleInfiniteList_ArticleInfiniteList_redesigned_Articles_Not_Found.png
  .loki/reference/chrome_iphone7_widgets_ArticleInfiniteList_ArticleInfiniteList_redesigned_Primary.png
  .loki/reference/chrome_iphone7_widgets_LoaderLayout_Primary_Redesigned.png
  .loki/reference/chrome_laptop_features_UserDropdown_Primary_Redesigned.png
  .loki/reference/chrome_laptop_pages_ProfilePage_Not_Found_Deprecated.png
  .loki/reference/chrome_laptop_pages_ProfilePage_Not_Found_Redesigned.png
  .loki/reference/chrome_laptop_pages_ProfilePage_Primary_Deprecated.png
  .loki/reference/chrome_laptop_pages_ProfilePage_Primary_Redesigned.png
Due: none

Refactor buildBabelLoader
  config/build/buildWebpackConfig.ts
  config/build/loaders/buildBabelLoader.ts
Due: prettier --write, eslint --fix

Add stylelintrc
  .stylelintrc
Due: none

Remvoe bable transform runtime plugin from development build
  config/build/loaders/buildBabelLoader.ts
Due: prettier --write, eslint --fix

Update gitignore
  .gitignore
Due: none

Migrate to pnpm
  .github/workflows/building-and-deploying.yml
  .github/workflows/linting.yml
  .github/workflows/testing.yml
  README.md
  docs/storybook.md
  docs/tests.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  scripts/createSlice/index.ts
  scripts/rename/renameFolder.ts
  scripts/rename/renameSlice.ts
Due: prettier --write, eslint --fix

Add @loki/target-chrome-core package, add required node version to pnpm
  .npmrc
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: none

Add types hoisting for pnpm
  .npmrc
Due: none

Install missing dependencies
  package.json
  pnpm-lock.yaml
Due: none

Remove second stylelintrc
  .stylelintrc
Due: none

Fix pnpm errors (#28)
  .npmrc
  .nvmrc
  .stylelintrc
  package.json
  pnpm-lock.yaml
Due: none

Update readme after pnpm
  README.md
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  eslint --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.scss
