Repository Demianeen/react-production: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.scss": [
    "prettier --write",
    "stylelint --fix"
  ]
}

Setup ssh before connecting to server in ci/cd
  .github/workflows/building-and-deploying.yml
  .github/workflows/testing.yml
Due: none

Remove needs test in report step for test
  .github/workflows/testing.yml
Due: none

Add rsync-deployments action
  .github/workflows/testing.yml
Due: none

Remove setup ssh
  .github/workflows/testing.yml
Due: none

Return needs tests job before reports
  .github/workflows/testing.yml
Due: none

Add test step
  .github/workflows/building-and-deploying.yml
  .github/workflows/testing.yml
Due: none

Add test job
  .github/workflows/testing.yml
Due: none

Add load secret for test job
  .github/workflows/testing.yml
Due: none

Add upload report step to test job
  .github/workflows/testing.yml
Due: none

Require tests before test job
  .github/workflows/testing.yml
Due: none

Add ls reports
  .github/workflows/testing.yml
Due: none

Add ls
  .github/workflows/testing.yml
Due: none

Add path to load for reports
  .github/workflows/testing.yml
Due: none

Add output for report
  .github/workflows/testing.yml
Due: none

Add slash for env url
  .github/workflows/testing.yml
Due: none

Remove env url variable
  .github/workflows/building-and-deploying.yml
  .github/workflows/testing.yml
Due: none

Divide tests into few jobs
  .github/workflows/testing.yml
  .gitignore
Due: none

Fix ui and report job
  .github/workflows/testing.yml
Due: none

Fix problem with path in test report job
  .github/workflows/testing.yml
Due: none

Remove ls
  .github/workflows/testing.yml
Due: none

Uncomment ui report, add script to remove old reports
  .github/workflows/testing.yml
Due: none

Add auto list skeletons amount, auto limit for articleInfiniteList
  src/entities/Article/README.md
  src/entities/Article/index.ts
  src/entities/Article/model/lib/useArticleListSkeleton.tsx
  src/entities/Article/model/lib/useComputeListItemsLimit.ts
  src/entities/Article/ui/ArticleList/ArticleList.module.scss
  src/entities/Article/ui/ArticleList/ArticleList.stories.tsx
  src/entities/Article/ui/ArticleList/ArticleList.tsx
  src/entities/Article/ui/ArticleList/VirtualizedArticleList.tsx
  src/features/ArticleRecommendationsList/ui/ArticleRecommendationsList/ArticleRecommendationsList.tsx
  src/widgets/ArticleInfiniteList/lib/useArticleInfiniteList.ts
  src/widgets/ArticleInfiniteList/model/selectors/getArticleInfiniteListError/getArticleInfiniteListError.ts
  src/widgets/ArticleInfiniteList/model/selectors/getArticleInfiniteListHasMore/getArticleInfiniteListHasMore.ts
  src/widgets/ArticleInfiniteList/model/selectors/getArticleInfiniteListIsInitialized/getArticleInfiniteListIsInitialized.ts
  src/widgets/ArticleInfiniteList/model/selectors/getArticleInfiniteListIsLoading/getArticleInfiniteListIsLoading.ts
  src/widgets/ArticleInfiniteList/model/selectors/getArticleInfiniteListLimit/getArticleInfiniteListLimit.test.ts
  src/widgets/ArticleInfiniteList/model/selectors/getArticleInfiniteListLimit/getArticleInfiniteListLimit.ts
  src/widgets/ArticleInfiniteList/model/selectors/getArticleInfiniteListOrder/getArticleInfiniteListOrder.ts
  src/widgets/ArticleInfiniteList/model/selectors/getArticleInfiniteListPage/getArticleInfiniteListPage.ts
  src/widgets/ArticleInfiniteList/model/selectors/getArticleInfiniteListSearch/getArticleInfiniteListSearch.ts
  src/widgets/ArticleInfiniteList/model/selectors/getArticleInfiniteListSortField/getArticleInfiniteListSortField.ts
  src/widgets/ArticleInfiniteList/model/selectors/getArticleInfiniteListStartIndex/getArticleInfiniteListStartIndex.ts
  src/widgets/ArticleInfiniteList/model/selectors/getArticleInfiniteListView/getArticleInfiniteListView.ts
  src/widgets/ArticleInfiniteList/model/selectors/getArticleInfinteListType/getArticleInfiniteListType.ts
  src/widgets/ArticleInfiniteList/model/services/fetchArticles/fetchArticles.ts
  src/widgets/ArticleInfiniteList/model/services/fetchArticlesNextPage/fetchArticlesNextPage.ts
  src/widgets/ArticleInfiniteList/model/services/initArticleInfiniteList/initArticleInfiniteList.ts
  src/widgets/ArticleInfiniteList/model/slice/articleInfiniteListSlice.test.ts
  src/widgets/ArticleInfiniteList/model/slice/articleInfiniteListSlice.ts
  src/widgets/ArticleInfiniteList/ui/ArticleInfiniteList/ArticleInfiniteListDeprecated/ArticleInfiniteListDeprecated.tsx
  src/widgets/ArticleInfiniteList/ui/ArticleInfiniteList/ArticleInfiniteListRedesigned/ArticleInfiniteListRedesigned.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Remove GitHub pages environment
  .github/workflows/testing.yml
Due: none

Update article list
  .vscode/settings.json
  src/entities/Article/ui/ArticleList/VirtualizedArticleList.tsx
  src/widgets/ArticleInfiniteList/lib/useArticleInfiniteList.ts
  src/widgets/ArticleInfiniteList/model/services/fetchArticles/fetchArticles.ts
Due: prettier --write, eslint --fix

Fix useComputeListItemsLimit
  src/entities/Article/model/lib/useComputeListItemsLimit.ts
  src/entities/Article/ui/ArticleList/ArticleList.tsx
  src/features/ArticleRecommendationsList/ui/ArticleRecommendationsList/ArticleRecommendationsList.tsx
Due: prettier --write, eslint --fix

Fix page scroll restore in new design
  src/shared/lib/tests/componentRender/TestProvider.tsx
  src/shared/lib/tests/componentRender/componentRender.tsx
  src/widgets/Page/ui/Page/Page.tsx
Due: prettier --write, eslint --fix

Fix useComputeListItemsLimit
  src/entities/Article/README.md
  src/entities/Article/index.ts
  src/entities/Article/model/lib/useArticleListSkeleton.tsx
  src/entities/Article/model/lib/useComputeListItemsLimit.ts
  src/entities/Article/ui/ArticleList/ArticleList.tsx
  src/entities/Article/ui/ArticleList/VirtualizedArticleList.tsx
  src/features/ArticleRecommendationsList/ui/ArticleRecommendationsList/ArticleRecommendationsList.tsx
  src/widgets/ArticleInfiniteList/lib/useArticleInfiniteList.ts
  src/widgets/ArticleInfiniteList/lib/useArticleView.ts
  src/widgets/ArticleInfiniteList/model/services/fetchArticles/fetchArticles.ts
  src/widgets/ArticleInfiniteList/model/slice/articleInfiniteListSlice.ts
  src/widgets/ArticleInfiniteList/ui/ArticleInfiniteList/ArticleInfiniteListDeprecated/ArticleInfiniteListDeprecated.tsx
  src/widgets/ArticleInfiniteList/ui/ArticleInfiniteList/ArticleInfiniteListRedesigned/ArticleInfiniteListRedesigned.tsx
  src/widgets/ArticleInfiniteList/ui/ArticleInfiniteListFilters/ArticleInfiniteListFilters.tsx
  src/widgets/ArticleInfiniteList/ui/ArticleViewSelectorContainer/ArticleViewSelectorContainer.tsx
Due: prettier --write, eslint --fix

Fix appLogo for sidebar
  src/shared/ui/redesigned/AppLogo/AppLogo.module.scss
  src/shared/ui/redesigned/AppLogo/AppLogo.tsx
  src/widgets/Sidebar/ui/Sidebar/SidebarRedesigned/SidebarRedesigned.module.scss
  src/widgets/Sidebar/ui/Sidebar/SidebarRedesigned/SidebarRedesigned.tsx
  src/widgets/Sidebar/ui/Sidebar/SidebarRedesigned/SidebarRedesignedSkeleton.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Add UserNavigation, media for articles page, sidebar
  server/db.json
  src/features/ArticleListFilters/ui/ArticleListFilters/ArticleListFilters.module.scss
  src/features/ArticleListFilters/ui/ArticleListFilters/ArticleListFilters.tsx
  src/features/UserNavigation/index.ts
  src/features/UserNavigation/model/selectors/getUserNavigationItems/getUserNavigationItems.test.ts
  src/features/UserNavigation/model/selectors/getUserNavigationItems/getUserNavigationItems.ts
  src/features/UserNavigation/model/types/userNavigation.ts
  src/features/UserNavigation/ui/UserNavigation/UserNavigation.module.scss
  src/features/UserNavigation/ui/UserNavigation/UserNavigation.stories.tsx
  src/features/UserNavigation/ui/UserNavigation/UserNavigation.tsx
  src/features/UserNavigation/ui/UserNavigationItem/UserNavigationItem.tsx
  src/features/UserNavigation/ui/UserNavigationItem/UserNavigationItemDeprecated/UserNavigationItemDeprecated.module.scss
  src/features/UserNavigation/ui/UserNavigationItem/UserNavigationItemDeprecated/UserNavigationItemDeprecated.stories.tsx
  src/features/UserNavigation/ui/UserNavigationItem/UserNavigationItemDeprecated/UserNavigationItemDeprecated.tsx
  src/features/UserNavigation/ui/UserNavigationItem/UserNavigationItemRedesigned/UserNavigationItemRedesigned.module.scss
  src/features/UserNavigation/ui/UserNavigationItem/UserNavigationItemRedesigned/UserNavigationItemRedesigned.stories.tsx
  src/features/UserNavigation/ui/UserNavigationItem/UserNavigationItemRedesigned/UserNavigationItemRedesigned.tsx
  src/shared/layouts/StickyContentLayout/StickyContentLayout.module.scss
  src/shared/layouts/StickyContentLayout/StickyContentLayout.tsx
  src/shared/lib/hooks/useMedia/useMedia.ts
  src/shared/ui/deprecated/AppLink/AppLink.tsx
  src/shared/ui/redesigned/TooltipButton/TooltipButton.tsx
  src/widgets/ArticleInfiniteList/ui/ArticleFiltersContainer/ArticleFiltersContainer.tsx
  src/widgets/ArticleInfiniteList/ui/ArticleInfiniteList/ArticleInfiniteListRedesigned/ArticleInfiniteListRedesigned.module.scss
  src/widgets/ArticleInfiniteList/ui/ArticleInfiniteList/ArticleInfiniteListRedesigned/ArticleInfiniteListRedesigned.tsx
  src/widgets/Sidebar/ui/Sidebar/SidebarDeprecated/SidebarDeprecated.module.scss
  src/widgets/Sidebar/ui/Sidebar/SidebarDeprecated/SidebarDeprecated.tsx
  src/widgets/Sidebar/ui/Sidebar/SidebarRedesigned/SidebarRedesigned.module.scss
  src/widgets/Sidebar/ui/Sidebar/SidebarRedesigned/SidebarRedesigned.tsx
  src/widgets/Sidebar/ui/SidebarItem/SidebarItem.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Add useViewport, Viewport, main layout for mobile view
  src/entities/ListFilters/ui/ListFiltersView/ListFiltersViewRedesigned/ListFiltersViewRedesigned.tsx
  src/entities/Rating/ui/RatingCard/RatingCardDeprecated/RatingCardDeprecated.tsx
  src/entities/Rating/ui/RatingCard/RatingCardRedesigned/RatingCardRedesigned.tsx
  src/features/ArticlePageGreeting/ui/ArticlePageGreeting/ArticlePageGreeting.tsx
  src/features/NotificationButton/ui/NotificationButton/NotificationButtonDeprecated/NotificationButtonDeprecated.tsx
  src/features/NotificationButton/ui/NotificationButton/NotificationButtonRedesigned/NotificationButtonRedesigned.tsx
  src/features/ToggleDesign/ui/ToggleDesign/ToggleDesign.tsx
  src/shared/layouts/MainLayout/MainLayout.module.scss
  src/shared/layouts/MainLayout/MainLayout.tsx
  src/shared/lib/components/Media/DesktopMedia.tsx
  src/shared/lib/components/Media/Media.tsx
  src/shared/lib/components/Media/MobileMedia.tsx
  src/shared/lib/components/Media/index.ts
  src/shared/lib/components/UserAgent/DesktopView.tsx
  src/shared/lib/components/UserAgent/MobileView.tsx
  src/shared/lib/components/UserAgent/UserAgent.tsx
  src/shared/lib/components/UserAgent/index.ts
  src/shared/lib/hooks/useDevice/useDevice.ts
  src/shared/ui/redesigned/Toggle/Toggle.tsx
  src/shared/ui/redesigned/TooltipButton/TooltipButton.tsx
  src/widgets/ArticleInfiniteList/ui/ArticleFiltersContainer/ArticleFiltersContainer.tsx
  src/widgets/ArticleInfiniteList/ui/ArticleInfiniteList/ArticleInfiniteListRedesigned/ArticleInfiniteListRedesigned.tsx
  src/widgets/Navbar/ui/Navbar/NavbarRedesigned/NavbarRedesigned.module.scss
  src/widgets/Navbar/ui/Navbar/NavbarRedesigned/NavbarRedesigned.tsx
  src/widgets/Sidebar/ui/Sidebar/SidebarRedesigned/SidebarRedesigned.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

Fix useComputeListItemsLimit, mobile view for articles and article details page
  server/db.json
  src/entities/Article/model/lib/useComputeListItemsLimit.ts
  src/entities/Article/ui/ArticleCodeBlockComponent/ArticleCodeBlockComponent.module.scss
  src/entities/Notification/model/mocks/notificationHandlers.ts
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/ArticleDetailsPageRedesigned/ArticleDetailsPageRedesigned.module.scss
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/ArticleDetailsPageRedesigned/ArticleDetailsPageRedesigned.tsx
  src/shared/layouts/MainLayout/MainLayout.module.scss
  src/shared/layouts/StickyContentLayout/StickyContentLayout.module.scss
  src/shared/layouts/StickyContentLayout/StickyContentLayout.tsx
  src/shared/lib/hooks/useMedia/useMedia.ts
  src/shared/lib/hooks/useViewport/useViewport.ts
  src/widgets/ArticleInfiniteList/lib/useArticleView.ts
  src/widgets/ArticleInfiniteList/model/slice/articleInfiniteListSlice.ts
  src/widgets/ArticleInfiniteList/ui/ArticleInfiniteList/ArticleInfiniteListRedesigned/ArticleInfiniteListRedesigned.module.scss
  src/widgets/ArticleInfiniteList/ui/ArticleInfiniteList/ArticleInfiniteListRedesigned/ArticleInfiniteListRedesigned.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Add mobile view for old design
  public/locales/en/translation.json
  server/db.json
  src/app/App.tsx
  src/entities/Article/model/lib/useComputeListItemsLimit.ts
  src/entities/ListFilters/ui/ListFilters/ListFilters.tsx
  src/shared/layouts/MainLayout/MainLayout.tsx
  src/shared/lib/components/Viewport/DesktopViewport.tsx
  src/shared/lib/components/Viewport/MobileViewport.tsx
  src/shared/lib/components/Viewport/Viewport.tsx
  src/shared/lib/components/Viewport/index.ts
  src/shared/ui/deprecated/Tabs/Tabs.module.scss
  src/shared/ui/deprecated/Tabs/Tabs.tsx
  src/shared/ui/redesigned/FullPagePanel/FullPagePanel.module.scss
  src/widgets/Navbar/ui/Navbar/NavbarDeprecated/NavbarDeprecated.tsx
  src/widgets/Navbar/ui/Navbar/NavbarRedesigned/NavbarRedesigned.tsx
  src/widgets/Navbar/ui/NavbarBurger/NavbarBurger.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Add mobile view for loaderLayout
  server/db.json
  src/app/App.tsx
  src/app/styles/index.scss
  src/features/UserDropdown/index.ts
  src/features/UserDropdown/ui/UserDropdown/UserDropdown.tsx
  src/shared/layouts/MainLayout/MainLayout.tsx
  src/shared/lib/components/Media/DesktopViewport.tsx
  src/shared/lib/components/Media/MobileViewport.tsx
  src/shared/lib/components/Media/Viewport.tsx
  src/shared/lib/components/Media/index.ts
  src/shared/ui/redesigned/Button/ButtonSkeleton.tsx
  src/shared/ui/redesigned/Skeleton/Skeleton.tsx
  src/widgets/LoaderLayout/ui/LoaderLayout.tsx
  src/widgets/Navbar/ui/Navbar/NavbarDeprecated/NavbarDeprecated.tsx
  src/widgets/Navbar/ui/Navbar/NavbarDeprecated/NavbarDeprecatedSkeleton.tsx
  src/widgets/Navbar/ui/Navbar/NavbarRedesigned/NavbarRedesigned.tsx
  src/widgets/Navbar/ui/Navbar/NavbarRedesigned/NavbarRedesignedSkeleton.tsx
  src/widgets/PageLoader/ui/PageLoader.module.scss
  src/widgets/PageLoader/ui/PageLoader.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Add ability to view articles page when user is not logged
  server/index.ts
  src/app/providers/router/config/routeConfig.tsx
  src/entities/User/index.ts
  src/entities/User/model/selectors/getIsUserLogged/getIsUserLogged.ts
  src/features/ArticlePageGreeting/ui/ArticlePageGreeting/ArticlePageGreeting.tsx
  src/features/UserNavigation/model/selectors/getUserNavigationItems/getUserNavigationItems.test.ts
  src/features/UserNavigation/model/selectors/getUserNavigationItems/getUserNavigationItems.ts
Due: prettier --write, eslint --fix

Fix cypress tests, remake them for a new design
  cypress/component/EditableProfileCard.cy.tsx
  cypress/e2e/article/article-details.cy.ts
  cypress/e2e/article/article-list.cy.ts
  cypress/fixtures/article-details.json
  server/db.json
  src/entities/Article/ui/ArticleDetails/ArticleDetailsRedesigned/ArticleDetailsRedesigned.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItemRedesigned/ArticleListItemRedesigned.tsx
  src/entities/Article/ui/ArticleTextBlockComponent/ArticleTextBlockComponentRedesigned/ArticleTextBlockComponentRedesigned.tsx
  src/entities/Comment/ui/CommentCard/CommentCardRedesigned/CommentCard.tsx
  src/entities/Rating/ui/RatingCard/RatingCardRedesigned/RatingCardRedesigned.tsx
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/ArticleDetailsPageRedesigned/ArticleDetailsPageRedesigned.tsx
  src/shared/lib/storybook/LayoutDecorator.tsx
  src/widgets/ArticleAdditionalInfo/ui/ArticleAdditionalInfo/ArticleAdditionalInfo.tsx
Due: prettier --write, eslint --fix
