Repository Demianeen/react-production: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Add apt-get update
  .github/workflows/testing.yml
Due: none

Make a profilePage an async story
  package-lock.json
  package.json
  src/pages/ProfilePage/ui/ProfilePage/ProfilePage.stories.tsx
Due: prettier --write, eslint --fix

Fix async story for ProfilePage, add for editable profile card
  src/features/EditableProfileCard/ui/EditableProfileCard/EditableProfileCard.stories.tsx
  src/pages/ProfilePage/ui/ProfilePage/ProfilePage.stories.tsx
Due: prettier --write, eslint --fix

Add if always for testing.yml steps
  .github/workflows/testing.yml
Due: none

Add skip to async tests
  src/features/EditableProfileCard/ui/EditableProfileCard/EditableProfileCard.stories.tsx
  src/pages/ProfilePage/ui/ProfilePage/ProfilePage.stories.tsx
Due: prettier --write, eslint --fix

Remove async loki callback
  src/pages/ProfilePage/ui/ProfilePage/ProfilePage.stories.tsx
Due: prettier --write, eslint --fix

Fix screens, add if always for testing.yml steps
  .github/workflows/building-and-deploying.yml
  .github/workflows/testing.yml
  json-server/db.json
  package-lock.json
  package.json
  src/features/EditableProfileCard/ui/EditableProfileCard/EditableProfileCard.stories.tsx
  src/pages/ProfilePage/ui/ProfilePage/ProfilePage.stories.tsx
Due: prettier --write, eslint --fix

Add deprecated toggle
  docs/storybook.md
  src/shared/ui/redesigned/Toggle/Toggle.module.scss
  src/shared/ui/redesigned/Toggle/Toggle.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Add skip for ProfileCard for loki
  src/entities/Profile/ui/ProfileCard/ProfileCardDeprecated/ProfileCardDeprecated.stories.tsx
  src/entities/Profile/ui/ProfileCard/ProfileCardRedesigned/ProfileCardRedesigned.stories.tsx
Due: prettier --write, eslint --fix

Fix window scroll, remember scroll functionality for new design
  README.md
  json-server/db.json
  package-lock.json
  package.json
  src/app/providers/ErrorBoundary/ui/ErrorBoundary.tsx
  src/app/styles/index.scss
  src/app/styles/reset.scss
  src/entities/Article/model/lib/useArticleListSkeleton.tsx
  src/entities/Article/model/mocks/articleHandlers.ts
  src/entities/Article/ui/ArticleList/ArticleList.module.scss
  src/entities/Article/ui/ArticleList/ArticleList.tsx
  src/entities/Article/ui/ArticleList/ArticleListSkeleton.tsx
  src/entities/Article/ui/ArticleList/VirtualizedArticleList.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItemRedesigned/ArticleListItemRedesigned.module.scss
  src/features/ArticleRecommendationsList/ui/ArticleRecommendationsList/ArticleRecommendationsList.tsx
  src/features/ScrollToTop/ui/ScrollToTopButton/ScrollToTopButton.stories.tsx
  src/features/ScrollToTop/ui/ScrollToTopButton/ScrollToTopButton.tsx
  src/pages/ArticlesPage/ui/ArticlesPage/ArticlesPage.tsx
  src/shared/layouts/MainLayout/MainLayout.module.scss
  src/shared/layouts/StickyContentLayout/StickyContentLayout.module.scss
  src/shared/lib/scroll/useWindowScroll.ts
  src/widgets/ArticleInfiniteList/ui/ArticleInfiniteList/ArticleInfiniteListDeprecated/ArticleInfiniteListDeprecated.stories.tsx
  src/widgets/ArticleInfiniteList/ui/ArticleInfiniteList/ArticleInfiniteListDeprecated/ArticleInfiniteListDeprecated.tsx
  src/widgets/ArticleInfiniteList/ui/ArticleInfiniteList/ArticleInfiniteListRedesigned/ArticleInfiniteListRedesigned.stories.tsx
  src/widgets/ArticleInfiniteList/ui/ArticleInfiniteList/ArticleInfiniteListRedesigned/ArticleInfiniteListRedesigned.tsx
  src/widgets/Page/ui/Page/Page.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Fix image import in jest
  config/jest/jest.config.ts
Due: prettier --write, eslint --fix

Fix screens
  .loki/reference/chrome_iphone7_entities_ProfileCard_deprecated_Dark.png
  .loki/reference/chrome_iphone7_entities_ProfileCard_deprecated_Error.png
  .loki/reference/chrome_iphone7_entities_ProfileCard_deprecated_Light.png
  .loki/reference/chrome_iphone7_entities_ProfileCard_deprecated_Orange.png
  .loki/reference/chrome_iphone7_entities_ProfileCard_deprecated_Readonly.png
  .loki/reference/chrome_iphone7_entities_ProfileCard_deprecated_Without_Values.png
  .loki/reference/chrome_iphone7_entities_ProfileCard_redesigned_Dark.png
  .loki/reference/chrome_iphone7_entities_ProfileCard_redesigned_Error.png
  .loki/reference/chrome_iphone7_entities_ProfileCard_redesigned_Light.png
  .loki/reference/chrome_iphone7_entities_ProfileCard_redesigned_Orange.png
  .loki/reference/chrome_iphone7_entities_ProfileCard_redesigned_Readonly.png
  .loki/reference/chrome_iphone7_entities_ProfileCard_redesigned_Without_Values.png
  .loki/reference/chrome_iphone7_features_EditableProfileCard_EditableProfileCard_Error_Deprecated.png
  .loki/reference/chrome_iphone7_features_EditableProfileCard_EditableProfileCard_Error_Redesigned.png
  .loki/reference/chrome_iphone7_features_EditableProfileCard_EditableProfileCard_Primary_Deprecated.png
  .loki/reference/chrome_iphone7_features_EditableProfileCard_EditableProfileCard_Primary_Redesigned.png
  .loki/reference/chrome_laptop_entities_Article_ArticleListItem_deprecated_List.png
  .loki/reference/chrome_laptop_entities_ProfileCard_deprecated_Dark.png
  .loki/reference/chrome_laptop_entities_ProfileCard_deprecated_Error.png
  .loki/reference/chrome_laptop_entities_ProfileCard_deprecated_Light.png
  .loki/reference/chrome_laptop_entities_ProfileCard_deprecated_Orange.png
  .loki/reference/chrome_laptop_entities_ProfileCard_deprecated_Readonly.png
  .loki/reference/chrome_laptop_entities_ProfileCard_deprecated_Without_Values.png
  .loki/reference/chrome_laptop_entities_ProfileCard_redesigned_Dark.png
  .loki/reference/chrome_laptop_entities_ProfileCard_redesigned_Error.png
  .loki/reference/chrome_laptop_entities_ProfileCard_redesigned_Light.png
  .loki/reference/chrome_laptop_entities_ProfileCard_redesigned_Orange.png
  .loki/reference/chrome_laptop_entities_ProfileCard_redesigned_Readonly.png
  .loki/reference/chrome_laptop_entities_ProfileCard_redesigned_Without_Values.png
  .loki/reference/chrome_laptop_features_EditableProfileCard_EditableProfileCard_Error_Deprecated.png
  .loki/reference/chrome_laptop_features_EditableProfileCard_EditableProfileCard_Error_Redesigned.png
  .loki/reference/chrome_laptop_features_EditableProfileCard_EditableProfileCard_Primary_Deprecated.png
  .loki/reference/chrome_laptop_features_EditableProfileCard_EditableProfileCard_Primary_Redesigned.png
  .loki/reference/chrome_laptop_pages_ArticleDetailsPage_ArticleDetailsPage_redesigned_Dark.png
Due: none

Add delay loki decorator, fix husky with vscode
  .husky/pre-commit
  src/entities/Profile/ui/ProfileCard/ProfileCardDeprecated/ProfileCardDeprecated.stories.tsx
  src/entities/Profile/ui/ProfileCard/ProfileCardRedesigned/ProfileCardRedesigned.stories.tsx
  src/features/EditableProfileCard/ui/EditableProfileCard/EditableProfileCard.stories.tsx
  src/shared/lib/storybook/LokiDelayDecorator.tsx
Due: prettier --write, eslint --fix

Fix LokiDelayDecorator
  src/shared/lib/storybook/LokiDelayDecorator.tsx
Due: prettier --write, eslint --fix

Add FontReadyDecorator, update LokiDelayDecorator
  config/storybook/preview.ts
  package-lock.json
  package.json
  reports/templates/unit/report.html
  src/entities/Profile/ui/ProfileCard/ProfileCardDeprecated/ProfileCardDeprecated.stories.tsx
  src/entities/Profile/ui/ProfileCard/ProfileCardRedesigned/ProfileCardRedesigned.stories.tsx
  src/features/EditableProfileCard/ui/EditableProfileCard/EditableProfileCard.stories.tsx
  src/shared/lib/storybook/FontReadyDecorator.tsx
  src/shared/lib/storybook/LokiDelayDecorator.tsx
Due: prettier --write, eslint --fix

Add ts-expect-error to isLokiRunning
  src/shared/lib/storybook/FontReadyDecorator.tsx
  src/shared/lib/storybook/LokiDelayDecorator.tsx
Due: prettier --write, eslint --fix

Remove font-ready decorator
  config/storybook/preview.ts
Due: prettier --write, eslint --fix

Add delay to other flaky stories, increase delay to 5 seconds
  src/entities/Article/ui/ArticleDetails/ArticleDetailsDeprecated/ArticleDetailsDeprecated.stories.tsx
  src/entities/Article/ui/ArticleDetails/ArticleDetailsRedesigned/ArticleDetailsRedesigned.stories.tsx
  src/entities/Article/ui/ArticleList/ArticleList.stories.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItemDeprecated/ArticleListItemDeprecated.stories.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItemRedesigned/ArticleListItemRedesigned.stories.tsx
  src/entities/Comment/ui/CommentList/CommentList.stories.tsx
  src/entities/Notification/ui/NotificationList/NotificationListDeprecated/NotificationListDeprecated.stories.tsx
  src/entities/Notification/ui/NotificationList/NotificationListRedesigned/NotificationListRedesigned.stories.tsx
  src/features/ArticleRecommendationsList/ui/ArticleRecommendationsList/ArticleRecommendationsList.stories.tsx
  src/pages/ArticleDetailsPage/ui/AdditionalInfoContainer/AdditionalInfoContainer.stories.tsx
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/ArticleDetailsPageDeprecated/ArticleDetailsPageDeprecated.stories.tsx
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/ArticleDetailsPageRedesigned/ArticleDetailsPageRedesigned.stories.tsx
  src/shared/lib/storybook/LokiDelayDecorator.tsx
Due: prettier --write, eslint --fix

Add delay for ArticleDetailsPageFooter
  src/entities/Article/ui/ArticleCodeBlockComponent/ArticleCodeBlockComponent.module.scss
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPageFooter/ArticleDetailsPageFooter.stories.tsx
  src/shared/lib/storybook/LokiDelayDecorator.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Remove skip for profilePage
  src/pages/ProfilePage/ui/ProfilePage/ProfilePage.stories.tsx
  src/shared/lib/storybook/LokiDelayDecorator.tsx
Due: prettier --write, eslint --fix

Change diffingEngine for loki to pixelMatch
  package.json
Due: none

Increase delay to loki, fix screens
  .loki/reference/chrome_iphone7_pages_ProfilePage_Not_Found_Deprecated.png
  .loki/reference/chrome_iphone7_pages_ProfilePage_Not_Found_Redesigned.png
  .loki/reference/chrome_iphone7_pages_ProfilePage_Primary_Deprecated.png
  .loki/reference/chrome_iphone7_pages_ProfilePage_Primary_Redesigned.png
  .loki/reference/chrome_laptop_pages_ProfilePage_Not_Found_Deprecated.png
  .loki/reference/chrome_laptop_pages_ProfilePage_Not_Found_Redesigned.png
  .loki/reference/chrome_laptop_pages_ProfilePage_Primary_Deprecated.png
  .loki/reference/chrome_laptop_pages_ProfilePage_Primary_Redesigned.png
  reports/0e459c59c3675cd298785985160382d7c7cc279a/ui/current/chrome_iphone7_pages_AboutPage_Dark.png
  reports/0e459c59c3675cd298785985160382d7c7cc279a/ui/current/chrome_iphone7_pages_AboutPage_Red.png
  src/shared/lib/storybook/LokiDelayDecorator.tsx
Due: prettier --write, eslint --fix

Add CiDelayDecorator
  config/storybook/preview.ts
  src/shared/lib/storybook/CiDelayDecorator.tsx
Due: prettier --write, eslint --fix

Increase delay for article list
  src/entities/Article/ui/ArticleList/ArticleList.stories.tsx
Due: prettier --write, eslint --fix

Add server host key to known_hosts for test reports
  .github/workflows/testing.yml
Due: none

Comment ui tests for test
  .github/workflows/testing.yml
Due: none

Disable ssh key checking for testing reports
  .github/workflows/testing.yml
Due: none

Fix disable ssh key checking
  .github/workflows/testing.yml
Due: none

Remove unused steps in testing yml
  .github/workflows/testing.yml
Due: none

Fix rsync target, add env url
  .github/workflows/testing.yml
Due: none

Add ssh authentication with ssh-key, load secret with 1Password
  .github/workflows/testing.yml
Due: none

Fix 1password load secrets
  .github/workflows/testing.yml
Due: none

Update secret name
  .github/workflows/testing.yml
Due: none

Update key to use env variable
  .github/workflows/testing.yml
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  eslint --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.scss
