Repository Demianeen/react-production: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.scss": [
    "prettier --write",
    "stylelint --fix"
  ]
}

Fix screens, add loki skip to profile
  .loki/reference/chrome_iphone7_entities_Article_ArticleDetails_Dark.png
  .loki/reference/chrome_iphone7_entities_Article_ArticleDetails_Light.png
  .loki/reference/chrome_iphone7_entities_Article_ArticleDetails_Red.png
  .loki/reference/chrome_iphone7_features_NotificationButton_Light.png
  .loki/reference/chrome_iphone7_pages_ArticleDetailsPage_ArticleDetailsPageFooter_Dark.png
  .loki/reference/chrome_iphone7_pages_ArticleDetailsPage_ArticleDetailsPageFooter_Light.png
  .loki/reference/chrome_iphone7_pages_ArticleDetailsPage_ArticleDetailsPageFooter_Red.png
  .loki/reference/chrome_iphone7_pages_ProfilePage_Dark.png
  .loki/reference/chrome_iphone7_pages_ProfilePage_Light.png
  .loki/reference/chrome_iphone7_pages_ProfilePage_Not_Found.png
  .loki/reference/chrome_iphone7_pages_ProfilePage_Red.png
  .loki/reference/chrome_iphone7_shared_Modal_Dark.png
  .loki/reference/chrome_iphone7_shared_Modal_Light.png
  .loki/reference/chrome_iphone7_shared_Modal_Red.png
  .loki/reference/chrome_iphone7_widgets_ThemeSwitcher_Dark.png
  .loki/reference/chrome_iphone7_widgets_ThemeSwitcher_Light.png
  .loki/reference/chrome_iphone7_widgets_ThemeSwitcher_Red.png
  .loki/reference/chrome_laptop_entities_Article_ArticleDetails_Dark.png
  .loki/reference/chrome_laptop_entities_Article_ArticleDetails_Light.png
  .loki/reference/chrome_laptop_entities_Article_ArticleDetails_Red.png
  .loki/reference/chrome_laptop_features_NotificationButton_Light.png
  .loki/reference/chrome_laptop_pages_ArticleDetailsPage_ArticleDetailsPageFooter_Dark.png
  .loki/reference/chrome_laptop_pages_ArticleDetailsPage_ArticleDetailsPageFooter_Light.png
  .loki/reference/chrome_laptop_pages_ArticleDetailsPage_ArticleDetailsPageFooter_Red.png
  .loki/reference/chrome_laptop_pages_ProfilePage_Dark.png
  .loki/reference/chrome_laptop_pages_ProfilePage_Light.png
  .loki/reference/chrome_laptop_pages_ProfilePage_Not_Found.png
  .loki/reference/chrome_laptop_pages_ProfilePage_Red.png
  .loki/reference/chrome_laptop_widgets_ThemeSwitcher_Dark.png
  .loki/reference/chrome_laptop_widgets_ThemeSwitcher_Light.png
  .loki/reference/chrome_laptop_widgets_ThemeSwitcher_Red.png
  src/entities/Article/model/mocks/mockArticle.ts
  src/pages/ProfilePage/ui/ProfilePage/ProfilePage.stories.tsx
  src/shared/ui/Card/Card.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

Add theme addon for storybook
  config/storybook/main.ts
  config/storybook/preview.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Refactor routing
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/router/ui/RequireAuth.tsx
  src/app/providers/router/ui/RequireRoles.tsx
  src/entities/Article/ui/ArticleDetailsHeader/ArticleDetailsHeader.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItem.tsx
  src/entities/Comment/ui/CommentCard/CommentCard.tsx
  src/features/UserDropdown/ui/UserDropdown/UserDropdown.tsx
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/ArticleDetailsPage.stories.tsx
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/ArticleDetailsPage.tsx
  src/pages/ProfilePage/ui/ProfilePage/ProfilePage.stories.tsx
  src/shared/const/routePath.ts
  src/shared/const/router/appRoutes.ts
  src/shared/const/router/routePath.ts
  src/shared/lib/router/routes.ts
  src/widgets/Navbar/ui/Navbar.tsx
  src/widgets/Page/model/slice/pageSlice.test.ts
  src/widgets/Sidebar/model/selectors/getSidebarItems/getSidebarItems.test.ts
  src/widgets/Sidebar/model/selectors/getSidebarItems/getSidebarItems.ts
  src/widgets/Sidebar/ui/SidebarItem/SidebarItem.stories.tsx
Due: prettier --write, eslint --fix

Upgrade webpack config, add babel cache, remove unused tsconfig
  .browserslistrc
  config/build/buildPlugins.ts
  config/build/buildWebpackConfig.ts
  config/build/loaders/buildBabelLoader.ts
  config/build/loaders/buildCssLoader.ts
  config/build/loaders/buildSvgLoader.ts
  package-lock.json
  package.json
  tsconfig.json
  tsconfig.project.json
Due: prettier --write, eslint --fix

Fix stories layout, screens, add loki skip for components with portal
  .loki/reference/chrome_iphone7_entities_ListFilters_ListFilters_All_Filters.png
  .loki/reference/chrome_iphone7_features_ArticleInfiniteList_ArticleInfiniteListFilters_Dark.png
  .loki/reference/chrome_iphone7_features_ArticleInfiniteList_ArticleInfiniteListFilters_Red.png
  .loki/reference/chrome_iphone7_features_ThemeSwitcher_Light.png
  .loki/reference/chrome_iphone7_features_UserDropdown_Light.png
  .loki/reference/chrome_iphone7_shared_Drawer_Dark.png
  .loki/reference/chrome_iphone7_shared_Drawer_Red.png
  .loki/reference/chrome_iphone7_shared_Modal_Dark.png
  .loki/reference/chrome_iphone7_shared_Modal_Red.png
  .loki/reference/chrome_iphone7_shared_Search_Dark.png
  .loki/reference/chrome_iphone7_shared_Search_Light.png
  .loki/reference/chrome_iphone7_shared_Search_Red.png
  .loki/reference/chrome_iphone7_widgets_ArticleInfiniteList_ArticleInfiniteListFilters_Light.png
  .loki/reference/chrome_iphone7_widgets_ArticleInfiniteList_ArticleInfiniteList_Light.png
  .loki/reference/chrome_laptop_entities_ListFilters_ListFilters_All_Filters.png
  .loki/reference/chrome_laptop_features_ArticleInfiniteList_ArticleInfiniteListFilters_Dark.png
  .loki/reference/chrome_laptop_features_ArticleInfiniteList_ArticleInfiniteListFilters_Red.png
  .loki/reference/chrome_laptop_features_ThemeSwitcher_Light.png
  .loki/reference/chrome_laptop_features_UserDropdown_Light.png
  .loki/reference/chrome_laptop_shared_Drawer_Dark.png
  .loki/reference/chrome_laptop_shared_Drawer_Red.png
  .loki/reference/chrome_laptop_shared_Modal_Dark.png
  .loki/reference/chrome_laptop_shared_Modal_Red.png
  .loki/reference/chrome_laptop_shared_Search_Dark.png
  .loki/reference/chrome_laptop_shared_Search_Light.png
  .loki/reference/chrome_laptop_shared_Search_Red.png
  .loki/reference/chrome_laptop_widgets_ArticleInfiniteList_ArticleInfiniteListFilters_Light.png
  .loki/reference/chrome_laptop_widgets_ArticleInfiniteList_ArticleInfiniteList_Light.png
  src/features/ThemeSwitcher/ui/ThemeSwitcher.stories.tsx
  src/features/UserDropdown/ui/UserDropdown/UserDropdown.stories.tsx
  src/shared/lib/storybook/LayoutDecorator.tsx
  src/shared/ui/Drawer/Drawer.stories.tsx
  src/shared/ui/Modal/Modal.stories.tsx
  src/widgets/ArticleInfiniteList/ui/ArticleInfiniteList/ArticleInfiniteList.stories.tsx
  src/widgets/ArticleInfiniteList/ui/ArticleInfiniteListFilters/ArticleInfiniteListFilters.stories.tsx
Due: prettier --write, eslint --fix

Fix ts errors and naming rules for enums
  .eslintrc.js
  src/app/providers/router/config/routeConfig.tsx
  src/entities/Country/model/const/country.ts
  src/entities/Country/ui/SelectCountry.tsx
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/ArticleDetailsPage.stories.tsx
  src/shared/const/router/appRoutes.ts
  src/shared/lib/router/routes.ts
  tsconfig.json
  utils/getPublicApiExports.ts
Due: prettier --write, eslint --fix

Add helpers for slice, selectors, actions
  src/entities/Counter/model/selectors/getCounterValue/getCounterValue.ts
  src/entities/Counter/model/slice/counterSlice.ts
  src/entities/Counter/ui/Counter.tsx
  src/shared/lib/react/typedBindActionCreators/typedBindActionCreators.ts
  src/shared/lib/react/typedForwardRef/typedForwardRef.ts
  src/shared/lib/react/typedMemo/typedMemo.ts
  src/shared/ui/store/buildSelector.ts
  src/shared/ui/store/buildSlice.ts
  src/shared/ui/store/index.ts
Due: prettier --write, eslint --fix

Upgrade buildSelector
  package-lock.json
  package.json
  src/entities/Counter/model/selectors/getCounterValue/getCounterValue.ts
  src/shared/ui/store/buildSelector.ts
  src/shared/ui/store/buildSelector/buildSelector.ts
  src/shared/ui/store/buildSelector/buildSelector.types.ts
  src/shared/ui/store/index.ts
  src/widgets/Sidebar/model/selectors/getSidebarItems/getSidebarItems.ts
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
Due: prettier --write, eslint --fix

Add App image, default user avatar
  json-server/db.json
  src/entities/Article/ui/ArticleDetails/ArticleDetails.module.scss
  src/entities/Article/ui/ArticleDetails/ArticleDetails.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItem.tsx
  src/entities/Profile/ui/ProfileCard/ProfileCard.tsx
  src/features/UserDropdown/ui/UserDropdown/UserDropdown.tsx
  src/shared/assets/icons/user-avatar-32-32.svg
  src/shared/lib/mock-server/imageHandlers.ts
  src/shared/ui/AppImage/AppImage.stories.tsx
  src/shared/ui/AppImage/AppImage.tsx
  src/shared/ui/AppImage/index.ts
  src/shared/ui/Avatar/Avatar.stories.tsx
  src/shared/ui/Avatar/Avatar.tsx
  src/shared/ui/store/buildSelector/buildSelector.ts
  src/shared/ui/store/buildSelector/buildSelector.types.ts
Due: prettier --write, eslint --fix, stylelint --fix

Add tests for router
  src/app/providers/router/ui/AppRouter.test.tsx
  src/entities/Counter/ui/Counter.tsx
  src/pages/AboutPage/ui/AboutPage.tsx
  src/pages/AdminPanelPage/ui/AdminPanelPage/AdminPanelPage.tsx
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/ArticleDetailsPage.tsx
  src/pages/ArticleEditPage/ui/ArticleEditPage/ArticleEditPage.tsx
  src/pages/ArticlesPage/ui/ArticlesPage/ArticlesPage.tsx
  src/pages/ForbiddenPage/ui/ForbiddenPage/ForbiddenPage.tsx
  src/pages/HomePage/ui/HomePage.tsx
  src/pages/NotFoundPage/ui/NotFoundPage.tsx
  src/pages/ProfilePage/ui/ProfilePage/ProfilePage.tsx
  src/shared/lib/router/routes.ts
  src/shared/types/tests.ts
  src/shared/ui/AppImage/AppImage.tsx
  src/shared/ui/Text/Text.tsx
  src/widgets/Page/ui/Page/Page.tsx
Due: prettier --write, eslint --fix

Add github actions report for ui tests
  .github/workflows/building.yml
  .github/workflows/linting.yml
  .github/workflows/testing.yml
  package.json
Due: none

Fix github actions report for ui tests
  .github/workflows/testing.yml
Due: none

Delete environment
  .github/workflows/testing.yml
Due: none

Try configuration from video
  .github/workflows/testing.yml
Due: none

Add environment back
  .github/workflows/testing.yml
Due: none

Fix environment
  .github/workflows/testing.yml
Due: none

Update versions of GitHub pages actions
  .github/workflows/testing.yml
Due: none

Fix GitHub actions versions
  .github/workflows/testing.yml
Due: none

Fix GitHub actions versions 2
  .github/workflows/testing.yml
Due: none

Add GitHub commit sha to report url
  .github/workflows/testing.yml
Due: none

Add index.html for reports, reports for unit tests
  .github/workflows/testing.yml
  .gitignore
  config/jest/jest.config.ts
  reports/index.html
Due: prettier --write, eslint --fix

Add commit sha to reports pages path
  .github/workflows/testing.yml
Due: none

Add prepare-reports job
  .github/workflows/testing.yml
Due: none

Fix prepare reports
  .github/workflows/testing.yml
Due: none

Fix prepare reports upload path
  .github/workflows/testing.yml
  reports/index.html
Due: none

Fix upload path
  .github/workflows/testing.yml
Due: none

Merge tests into one job
  .github/workflows/testing.yml
Due: none

Fix prepare tests
  .github/workflows/testing.yml
Due: none

Fix reports index.html
  reports/index.html
Due: none

Move index.html for reports and unit reports, update README, fix screens
  .github/workflows/testing.yml
  .loki/reference/chrome_iphone7_entities_Counter_Dark.png
  .loki/reference/chrome_iphone7_entities_Counter_Light.png
  .loki/reference/chrome_iphone7_entities_Counter_Red.png
  .loki/reference/chrome_iphone7_entities_ProfileCard_Dark.png
  .loki/reference/chrome_iphone7_entities_ProfileCard_Light.png
  .loki/reference/chrome_iphone7_entities_ProfileCard_Readonly.png
  .loki/reference/chrome_iphone7_entities_ProfileCard_Red.png
  .loki/reference/chrome_iphone7_entities_ProfileCard_Without_Values.png
  .loki/reference/chrome_iphone7_features_EditableProfileCard_EditableProfileCard_Dark.png
  .loki/reference/chrome_iphone7_features_EditableProfileCard_EditableProfileCard_Error.png
  .loki/reference/chrome_iphone7_features_EditableProfileCard_EditableProfileCard_Light.png
  .loki/reference/chrome_iphone7_features_EditableProfileCard_EditableProfileCard_Red.png
  .loki/reference/chrome_iphone7_shared_Avatar_Custom_Size.png
  .loki/reference/chrome_iphone7_shared_Avatar_Default.png
  .loki/reference/chrome_iphone7_widgets_Navbar_Logged.png
  .loki/reference/chrome_laptop_entities_Article_ArticleList_Dark_List.png
  .loki/reference/chrome_laptop_entities_Article_ArticleList_List.png
  .loki/reference/chrome_laptop_entities_Article_ArticleList_Red_List.png
  .loki/reference/chrome_laptop_entities_Counter_Dark.png
  .loki/reference/chrome_laptop_entities_Counter_Light.png
  .loki/reference/chrome_laptop_entities_Counter_Red.png
  .loki/reference/chrome_laptop_entities_ProfileCard_Dark.png
  .loki/reference/chrome_laptop_entities_ProfileCard_Light.png
  .loki/reference/chrome_laptop_entities_ProfileCard_Readonly.png
  .loki/reference/chrome_laptop_entities_ProfileCard_Red.png
  .loki/reference/chrome_laptop_entities_ProfileCard_Without_Values.png
  .loki/reference/chrome_laptop_features_EditableProfileCard_EditableProfileCard_Dark.png
  .loki/reference/chrome_laptop_features_EditableProfileCard_EditableProfileCard_Error.png
  .loki/reference/chrome_laptop_features_EditableProfileCard_EditableProfileCard_Light.png
  .loki/reference/chrome_laptop_features_EditableProfileCard_EditableProfileCard_Red.png
  .loki/reference/chrome_laptop_shared_Avatar_Custom_Size.png
  .loki/reference/chrome_laptop_shared_Avatar_Default.png
  .loki/reference/chrome_laptop_widgets_Navbar_Logged.png
  README.md
  config/jest/jest.config.ts
  reports/templates/index.html
  reports/templates/unit/report.html
Due: prettier --write, eslint --fix

Add action to commit GitHub actions reports
  .github/workflows/testing.yml
Due: none
