Repository Demianeen/react-production: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.scss": [
    "prettier --write",
    "stylelint --fix"
  ]
}

Delete unused code
  src/features/WriteArticle/ui/ToolbarPlugin/ToolbarPlugin.tsx
  src/features/WriteArticle/ui/ToolbarPlugin/plugins/BannerToolbarPlugin/BannerToolbarPlugin.stories.tsx
  src/features/WriteArticle/ui/ToolbarPlugin/plugins/BannerToolbarPlugin/BannerToolbarPlugin.tsx
  src/features/WriteArticle/ui/ToolbarPlugin/plugins/ImageToolbarPluginOld/ImageToolbarPlugin.stories.tsx
  src/features/WriteArticle/ui/ToolbarPlugin/plugins/ImageToolbarPluginOld/ImageToolbarPlugin.tsx
  src/features/WriteArticle/ui/WriteArticle/WriteArticle.tsx
  src/features/WriteArticle/ui/plugins/BannerPlugin/BannerNode.ts
  src/features/WriteArticle/ui/plugins/BannerPlugin/BannerPlugin.stories.tsx
  src/features/WriteArticle/ui/plugins/BannerPlugin/BannerPlugin.tsx
  src/features/WriteArticle/ui/plugins/imageBlockOld/nodes/ImageBlockNode.tsx
  src/features/WriteArticle/ui/plugins/imageBlockOld/plugins/ImageBlockPlugin/ImageBlockPlugin.stories.tsx
  src/features/WriteArticle/ui/plugins/imageBlockOld/plugins/ImageBlockPlugin/ImageBlockPlugin.tsx
  src/features/WriteArticle/ui/plugins/imageBlockOld2/nodes/ImageBlockNode.tsx
  src/features/WriteArticle/ui/plugins/imageBlockOld2/nodes/ImageNode.tsx
  src/features/WriteArticle/ui/plugins/imageBlockOld2/nodes/insertImageBlock.ts
  src/features/WriteArticle/ui/plugins/imageBlockOld2/plugins/ImageBlockPlugin/ImageBlockPlugin.stories.tsx
  src/features/WriteArticle/ui/plugins/imageBlockOld2/plugins/ImageBlockPlugin/ImageBlockPlugin.tsx
Due: prettier --write, eslint --fix

Add SelectBlockTypeToolbarPlugin
  src/app/styles/reset.scss
  src/features/WriteArticle/lib/getArticleStylesClassName/getArticleStylesClassName.scss
  src/features/WriteArticle/lib/getArticleStylesClassName/getArticleStylesClassName.ts
  src/features/WriteArticle/ui/ToolbarPlugin/ToolbarPlugin.tsx
  src/features/WriteArticle/ui/ToolbarPlugin/plugins/HeadingToolbarPlugin/HeadingToolbarPlugin.stories.tsx
  src/features/WriteArticle/ui/ToolbarPlugin/plugins/HeadingToolbarPlugin/HeadingToolbarPlugin.tsx
  src/features/WriteArticle/ui/ToolbarPlugin/plugins/ImageToolbarPlugin/ImageToolbarPlugin.tsx
  src/features/WriteArticle/ui/ToolbarPlugin/plugins/ListToolbarPlugin/ListToolbarPlugin.module.scss
  src/features/WriteArticle/ui/ToolbarPlugin/plugins/ListToolbarPlugin/ListToolbarPlugin.stories.tsx
  src/features/WriteArticle/ui/ToolbarPlugin/plugins/ListToolbarPlugin/ListToolbarPlugin.tsx
  src/features/WriteArticle/ui/ToolbarPlugin/plugins/SelectBlockTypeToolbarPlugin/SelectBlockTypeToolbarPlugin.stories.tsx
  src/features/WriteArticle/ui/ToolbarPlugin/plugins/SelectBlockTypeToolbarPlugin/SelectBlockTypeToolbarPlugin.tsx
  src/features/WriteArticle/ui/WriteArticle/WriteArticle.module.scss
  src/features/WriteArticle/ui/WriteArticle/WriteArticle.tsx
  src/features/WriteArticle/ui/plugins/HeadingPlugin/HeadingPlugin.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Rename imageBlock plugin
  src/features/WriteArticle/ui/ToolbarPlugin/ToolbarPlugin.tsx
  src/features/WriteArticle/ui/ToolbarPlugin/plugins/ImageToolbarPlugin/ImageToolbarPlugin.tsx
  src/features/WriteArticle/ui/plugins/EnterPlugin/EnterPlugin.tsx
  src/features/WriteArticle/ui/plugins/ImageBlockPlugin/nodes/ImageBlockNode.tsx
  src/features/WriteArticle/ui/plugins/ImageBlockPlugin/plugins/ImageBlockPlugin/ImageBlockPlugin.tsx
  src/features/WriteArticle/ui/plugins/ImageBlockPlugin/ui/ImageBlockComponent/ImageBlockComponent.module.scss
  src/features/WriteArticle/ui/plugins/ImageBlockPlugin/ui/ImageBlockComponent/ImageBlockComponent.stories.tsx
  src/features/WriteArticle/ui/plugins/ImageBlockPlugin/ui/ImageBlockComponent/ImageBlockComponent.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Add code block, code highlighting
  src/app/styles/themes/dark.scss
  src/app/styles/themes/light.scss
  src/app/styles/themes/orange.scss
  src/features/ArticleEditor/lib/getArticleStylesClassName/getArticleStylesClassName.scss
  src/features/ArticleEditor/model/types/articleEditorSchema.ts
  src/features/ArticleEditor/ui/ArticleEditor/ArticleEditor.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/ToolbarPlugin.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/CodeBlockToolbarPlugin/CodeBlockToolbarPlugin.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/SelectBlockTypeToolbarPlugin/SelectBlockTypeToolbarPlugin.tsx
  src/features/ArticleEditor/ui/plugins/CodeBlockPlugin/CodeBlockPlugin.tsx
  src/features/ArticleEditor/ui/plugins/CodeHighlightPlugin/CodeHighlightPlugin.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Add image prompt
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/ImageToolbarPlugin/ImagePrompt.module.scss
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/ImageToolbarPlugin/ImagePrompt.stories.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/ImageToolbarPlugin/ImagePrompt.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/ImageToolbarPlugin/ImageToolbarPlugin.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Make modal onClose prop required and load drawer on mobile
  .vscode/settings.json
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/ImageToolbarPlugin/ImagePrompt.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/ImageToolbarPlugin/ImageToolbarPlugin.tsx
  src/features/AuthByUsername/ui/AuthModal/AuthModal.tsx
  src/shared/ui/deprecated/Modal/Modal.tsx
  src/shared/ui/redesigned/Modal/Modal.tsx
Due: prettier --write, eslint --fix

Fix useComputeListItemsLimit
  src/entities/Article/ui/ArticleList/ArticleList.module.scss
  src/entities/Article/ui/ArticleList/VirtualizedArticleList.tsx
  src/widgets/ArticleInfiniteList/ui/ArticleInfiniteList/ArticleInfiniteListDeprecated/ArticleInfiniteListDeprecated.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Add DraggableBlockPlugin
  src/features/ArticleEditor/lib/shapes/point.ts
  src/features/ArticleEditor/lib/shapes/rect.ts
  src/features/ArticleEditor/ui/ArticleEditor/ArticleEditor.module.scss
  src/features/ArticleEditor/ui/ArticleEditor/ArticleEditor.tsx
  src/features/ArticleEditor/ui/plugins/DraggableBlockPlugin/DraggableBlockPlugin.tsx
  src/features/ArticleEditor/ui/plugins/DraggableBlockPlugin/lib/getBlockElement/getBlockElement.ts
  src/features/ArticleEditor/ui/plugins/DraggableBlockPlugin/lib/getCollapsedMargins/getCollapsedMargins.ts
  src/features/ArticleEditor/ui/plugins/DraggableBlockPlugin/lib/useDraggableBlockMenu/useDraggableBlockMenu.tsx
  src/features/ArticleEditor/ui/plugins/DraggableBlockPlugin/lib/useDraggableBlockMenu/useDraggableBlockPlugin.module.scss
  src/shared/assets/icons/redesigned/textEditor/draggable.svg
  src/shared/lib/html/isHTMLElement.ts
  src/shared/lib/html/isSvg.ts
Due: prettier --write, eslint --fix, stylelint --fix

Add useTargetLine
  src/features/ArticleEditor/lib/drag/useTargetLine/useTargetLine.module.scss
  src/features/ArticleEditor/lib/drag/useTargetLine/useTargetLine.tsx
  src/features/ArticleEditor/ui/ArticleEditor/ArticleEditor.module.scss
  src/features/ArticleEditor/ui/plugins/DraggableBlockPlugin/DraggableBlockPlugin.tsx
  src/features/ArticleEditor/ui/plugins/DraggableBlockPlugin/lib/useDraggableBlockMenu/useDraggableBlockMenu.tsx
  src/features/ArticleEditor/ui/plugins/DraggableBlockPlugin/lib/useDraggableBlockMenu/useDraggableBlockPlugin.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

Add use
  src/features/ArticleEditor/lib/drag/getBlockElement/getBlockElement.ts
  src/features/ArticleEditor/lib/drag/getCollapsedMargins/getCollapsedMargins.ts
  src/features/ArticleEditor/lib/drag/useDraggable/useDraggable.tsx
  src/features/ArticleEditor/lib/drag/useTargetLine/useTargetLine.tsx
  src/features/ArticleEditor/ui/plugins/DraggableBlockPlugin/lib/useDraggableBlockMenu/useDraggableBlockMenu.tsx
Due: prettier --write, eslint --fix

Add drag for image block component
  src/features/ArticleEditor/lib/drag/getBlockElement/getBlockElement.ts
  src/features/ArticleEditor/lib/drag/useDraggable/useDraggable.tsx
  src/features/ArticleEditor/lib/getFloatingAnchorElem/getFloatingAnchorElem.ts
  src/features/ArticleEditor/model/selectors/articleEditorSchemaSelectors.ts
  src/features/ArticleEditor/model/slice/articleEditorSlice.ts
  src/features/ArticleEditor/model/types/articleEditorSchema.ts
  src/features/ArticleEditor/ui/ArticleEditor/ArticleEditor.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/ToolbarPlugin.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/ImageToolbarPlugin/ImageToolbarPlugin.tsx
  src/features/ArticleEditor/ui/plugins/DraggableBlockPlugin/lib/useDraggableBlockMenu/useDraggableBlockMenu.tsx
  src/features/ArticleEditor/ui/plugins/ImageBlockPlugin/nodes/ImageBlockNode.tsx
  src/features/ArticleEditor/ui/plugins/ImageBlockPlugin/plugins/ImageBlockPlugin/InsertImagePlugin.tsx
  src/features/ArticleEditor/ui/plugins/ImageBlockPlugin/ui/ImageBlockComponent/ImageBlockComponent.tsx
Due: prettier --write, eslint --fix

Add image block export
  package-lock.json
  package.json
  src/features/ArticleEditor/lib/drag/useDraggable/useDraggable.tsx
  src/features/ArticleEditor/lib/drag/useTargetLine/useTargetLine.tsx
  src/features/ArticleEditor/ui/ArticleEditor/ArticleEditor.module.scss
  src/features/ArticleEditor/ui/ArticleEditor/ArticleEditor.tsx
  src/features/ArticleEditor/ui/plugins/DraggableBlockPlugin/lib/useDraggableBlockMenu/useDraggableBlockMenu.tsx
  src/features/ArticleEditor/ui/plugins/ImageBlockPlugin/nodes/ImageBlockNode.tsx
  src/features/ArticleEditor/ui/plugins/ImageBlockPlugin/plugins/ImageBlockPlugin/InsertImagePlugin.tsx
  src/features/ArticleEditor/ui/plugins/ImageBlockPlugin/ui/ImageBlockComponent/ImageBlockComponent.tsx
  src/features/ArticleEditor/ui/plugins/OneLinePlugin/OneLinePlugin.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Add create article widget
  server/db.json
  server/index.ts
  src/entities/Article/index.ts
  src/entities/Article/model/mocks/mockArticle.ts
  src/entities/Article/model/types/article.ts
  src/entities/Article/ui/ArticleDetails/ArticleDetailsDeprecated/ArticleDetailsDeprecated.module.scss
  src/entities/Article/ui/ArticleDetails/ArticleDetailsDeprecated/ArticleDetailsDeprecated.tsx
  src/entities/Article/ui/ArticleDetails/ArticleDetailsRedesigned/ArticleDetailsRedesigned.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItemDeprecated/ArticleListItemDeprecated.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItemRedesigned/ArticleListItemRedesigned.tsx
  src/entities/Article/ui/ArticleThumbnail/ArticleThumbnail.module.scss
  src/entities/Article/ui/ArticleThumbnail/ArticleThumbnail.stories.tsx
  src/entities/Article/ui/ArticleThumbnail/ArticleThumbnail.tsx
  src/features/ArticleEditor/ui/plugins/AutoLinkPlugin/AutoLinkPlugin.tsx
  src/shared/lib/features/api/featureFlagsApi.ts
  src/shared/lib/url/findUrl/findUrl.ts
  src/shared/lib/url/findUrl/isUrl.ts
  src/shared/ui/deprecated/Popups/ui/Select/Select.tsx
  src/shared/ui/deprecated/WithLabel/WithLabel.tsx
  src/shared/ui/redesigned/WithLabel/WithLabel.tsx
  src/widgets/CreateArticle/model/api/createArticleApi.ts
  src/widgets/CreateArticle/model/selectors/createArticleSelectors.ts
  src/widgets/CreateArticle/model/slice/createArticleSlice.ts
  src/widgets/CreateArticle/model/types/createArticleSchema.ts
  src/widgets/CreateArticle/ui/CreateArticle/CreateArticle.module.scss
  src/widgets/CreateArticle/ui/CreateArticle/CreateArticle.stories.tsx
  src/widgets/CreateArticle/ui/CreateArticle/CreateArticle.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Remake article details
  src/features/ArticleEditor/lib/getArticleStylesClassName/getArticleStylesClassName.scss
  src/features/ArticleEditor/ui/Placeholder/Placeholder.tsx
  src/features/ArticleEditor/ui/plugins/ImageBlockPlugin/plugins/ImageBlockPlugin/InsertImagePlugin.tsx
  src/features/ArticleEditor/ui/plugins/ImageBlockPlugin/ui/ImageBlockComponent/ImageBlockComponent.module.scss
  src/features/ArticleEditor/ui/plugins/ImageBlockPlugin/ui/ImageBlockComponent/ImageBlockComponent.tsx
  src/widgets/CreateArticle/ui/CreateArticle/CreateArticle.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Fix id creation in json server
  server/index.ts
Due: prettier --write, eslint --fix

Remake editor anchor with getArticleEditorAnchor
  server/db.json
  src/features/ArticleEditor/lib/drag/useDraggable/useDraggable.tsx
  src/features/ArticleEditor/lib/drag/useTargetLine/useTargetLine.tsx
  src/features/ArticleEditor/lib/getArticleEditorAnchor/getArticleEditorAnchor.ts
  src/features/ArticleEditor/lib/getFloatingAnchorElem/getFloatingAnchorElem.ts
  src/features/ArticleEditor/ui/ArticleEditor/ArticleEditor.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/ToolbarPlugin.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/ImageToolbarPlugin/ImageToolbarPlugin.tsx
  src/features/ArticleEditor/ui/plugins/DraggableBlockPlugin/DraggableBlockPlugin.tsx
  src/features/ArticleEditor/ui/plugins/DraggableBlockPlugin/lib/useDraggableBlockMenu/useDraggableBlockMenu.tsx
  src/features/ArticleEditor/ui/plugins/ImageBlockPlugin/nodes/ImageBlockNode.tsx
  src/features/ArticleEditor/ui/plugins/ImageBlockPlugin/ui/ImageBlockComponent/ImageBlockComponent.tsx
Due: prettier --write, eslint --fix

Refactor DraggableBlockPlugin
  src/features/ArticleEditor/ui/plugins/DraggableBlockPlugin/DraggableBlockPlugin.module.scss
  src/features/ArticleEditor/ui/plugins/DraggableBlockPlugin/DraggableBlockPlugin.tsx
  src/features/ArticleEditor/ui/plugins/DraggableBlockPlugin/lib/useDraggableBlockMenu/useDraggableBlockMenu.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Add UpdateMouseMoveBlockTypePlugin
  config/jest/setupTests.ts
  src/features/ArticleEditor/model/selectors/articleEditorMouseSelectors.ts
  src/features/ArticleEditor/model/selectors/articleEditorSchemaSelectors.ts
  src/features/ArticleEditor/model/selectors/articleEditorSelectionSelectors.ts
  src/features/ArticleEditor/model/selectors/getArticleEditorState.ts
  src/features/ArticleEditor/model/services/updateBlockType.ts
  src/features/ArticleEditor/model/services/updateSelectionBlockType.ts
  src/features/ArticleEditor/model/slice/articleEditorSlice.ts
  src/features/ArticleEditor/model/types/articleEditorSchema.ts
  src/features/ArticleEditor/ui/ArticleEditor/ArticleEditor.module.scss
  src/features/ArticleEditor/ui/ArticleEditor/ArticleEditor.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/ToolbarPlugin.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/SelectBlockTypeToolbarPlugin/SelectBlockTypeToolbarPlugin.tsx
  src/features/ArticleEditor/ui/plugins/DeleteArticleEditorPlugin/DeleteArticleEditorPlugin.tsx
  src/features/ArticleEditor/ui/plugins/DraggableBlockPlugin/DraggableBlockPlugin.tsx
  src/features/ArticleEditor/ui/plugins/UpdateMouseBlockTypePlugin/UpdateMouseBlockTypePlugin.ts
  src/features/ArticleEditor/ui/plugins/UpdateSelectionBlockTypePlugin/UpdateSelectionBlockTypePlugin.ts
  src/shared/ui/deprecated/Popups/ui/Select/Select.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

Remove space prop from useTargetLine
  src/features/ArticleEditor/lib/drag/useDraggable/useDraggable.tsx
  src/features/ArticleEditor/lib/drag/useTargetLine/useTargetLine.tsx
  src/features/ArticleEditor/ui/plugins/DraggableBlockPlugin/DraggableBlockPlugin.tsx
Due: prettier --write, eslint --fix

Add code action menu plugin
  src/features/ArticleEditor/lib/getArticleStylesClassName/getArticleStylesClassName.scss
  src/features/ArticleEditor/model/selectors/articleEditorSelectionSelectors.ts
  src/features/ArticleEditor/model/services/updateSelectionBlockType.ts
  src/features/ArticleEditor/model/slice/articleEditorSlice.ts
  src/features/ArticleEditor/model/types/articleEditorSchema.ts
  src/features/ArticleEditor/ui/ArticleEditor/ArticleEditor.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/ToolbarPlugin.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/CodeBlockToolbarPlugin/CodeBlockToolbarPlugin.tsx
  src/features/ArticleEditor/ui/plugins/CodeActionMenuPlugin/index.ts
  src/features/ArticleEditor/ui/plugins/CodeActionMenuPlugin/ui/CodeActionMenu/CodeActionMenu.scss
  src/features/ArticleEditor/ui/plugins/CodeActionMenuPlugin/ui/CodeActionMenu/CodeActionMenu.tsx
  src/features/ArticleEditor/ui/plugins/CodeActionMenuPlugin/ui/CodeActionMenuPlugin/CodeActionMenuPlugin.tsx
  src/features/ArticleEditor/ui/plugins/CodeActionMenuPlugin/ui/CopyButton/index.tsx
  src/features/ArticleEditor/ui/plugins/CodeActionMenuPlugin/ui/SelectLanguage/SelectLanguage.tsx
  src/features/ArticleEditor/ui/plugins/CodeBlockPlugin/CodeBlockPlugin.tsx
  src/features/ArticleEditor/ui/plugins/ImageBlockPlugin/ui/ImageBlockComponent/ImageBlockComponent.tsx
  src/features/ArticleEditor/ui/plugins/SelectBlockTypeToolbarPlugin/SelectBlockTypeToolbarPlugin.stories.tsx
  src/features/ArticleEditor/ui/plugins/SelectBlockTypeToolbarPlugin/SelectBlockTypeToolbarPlugin.tsx
  src/features/ArticleEditor/ui/plugins/UpdateMouseStatePlugin/UpdateMouseStatePlugin.ts
  src/features/ArticleEditor/ui/plugins/UpdateSelectionStatePlugin/UpdateSelectionStatePlugin.ts
  src/shared/ui/deprecated/Popups/ui/Select/Select.module.scss
  src/shared/ui/deprecated/Popups/ui/Select/Select.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Redesign toolbar buttons
  server/db.json
  src/features/ArticleEditor/ui/ToolbarPlugin/ToolbarPlugin.module.scss
  src/features/ArticleEditor/ui/ToolbarPlugin/ToolbarPlugin.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/CodeBlockToolbarPlugin/CodeBlockToolbarPlugin.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/ImageToolbarPlugin/ImageToolbarPlugin.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Add PrettierContext, withProvider, PrettierButton
  .vscode/settings.json
  package-lock.json
  package.json
  src/features/ArticleEditor/ui/plugins/CodeActionMenuPlugin/ui/CodeActionMenuPlugin/CodeActionMenuPlugin.tsx
  src/features/ArticleEditor/ui/plugins/CodeActionMenuPlugin/ui/CopyButton/CopyButton.tsx
  src/features/ArticleEditor/ui/plugins/CodeActionMenuPlugin/ui/PrettierButton/PrettierButton.tsx
  src/features/ArticleEditor/ui/plugins/CodeActionMenuPlugin/ui/SelectLanguage/SelectLanguage.tsx
  src/shared/assets/icons/redesigned/textEditor/prettier.svg
  src/shared/lib/components/AnimationProvider/index.ts
  src/shared/lib/components/AnimationProvider/lib/useAnimationLibs.tsx
  src/shared/lib/components/AnimationProvider/ui/AnimationContext.tsx
  src/shared/lib/components/AnimationProvider/ui/AnimationProvider.tsx
  src/shared/lib/components/PrettierProvider/const/prettierOptionsByLang.ts
  src/shared/lib/components/PrettierProvider/const/prettierParserModules.ts
  src/shared/lib/components/PrettierProvider/index.ts
  src/shared/lib/components/PrettierProvider/lib/canBePrettier.ts
  src/shared/lib/components/PrettierProvider/lib/getEstreePlugin.ts
  src/shared/lib/components/PrettierProvider/lib/getPrettierOptions.ts
  src/shared/lib/components/PrettierProvider/lib/getPrettierPlugins.ts
  src/shared/lib/components/PrettierProvider/lib/usePrettier.ts
  src/shared/lib/components/PrettierProvider/types/prettier.ts
  src/shared/lib/components/PrettierProvider/ui/LoadPrettierProvider.tsx
  src/shared/lib/components/PrettierProvider/ui/PrettierContext.tsx
  src/shared/lib/components/PrettierProvider/ui/PrettierProvider.tsx
  src/shared/lib/react/withProvider/withProvider.tsx
  src/shared/ui/deprecated/Icon/Icon.module.scss
  src/shared/ui/deprecated/Icon/Icon.tsx
  src/shared/ui/deprecated/Popups/ui/Select/Select.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Add text formatting, isApple
  src/features/ArticleEditor/lib/getArticleStylesClassName/getArticleStylesClassName.scss
  src/features/ArticleEditor/ui/ArticleEditor/ArticleEditor.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/ToolbarPlugin.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/CodeBlockToolbarPlugin/CodeBlockToolbarPlugin.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/ImageToolbarPlugin/ImageToolbarPlugin.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/TextFormatToolbarPlugin/ui/TextFormatPlugin.tsx
  src/shared/assets/icons/redesigned/textEditor/bold.svg
  src/shared/assets/icons/redesigned/textEditor/italic.svg
  src/shared/assets/icons/redesigned/textEditor/underline.svg
  src/shared/const/platform.ts
Due: prettier --write, eslint --fix, stylelint --fix

Add link node, selectedNodeKey
  server/db.json
  src/features/ArticleEditor/lib/getArticleStylesClassName/getArticleStylesClassName.scss
  src/features/ArticleEditor/lib/getSelectedNode/getSelectedNode.ts
  src/features/ArticleEditor/model/selectors/articleEditorSelectionSelectors.ts
  src/features/ArticleEditor/model/services/updateSelectionState.ts
  src/features/ArticleEditor/model/slice/articleEditorSlice.ts
  src/features/ArticleEditor/model/types/articleEditorSchema.ts
  src/features/ArticleEditor/ui/ArticleEditor/ArticleEditor.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/ToolbarPlugin.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/ImageToolbarPlugin/index.ts
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/ImageToolbarPlugin/ui/ImagePrompt.module.scss
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/ImageToolbarPlugin/ui/ImagePrompt.stories.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/ImageToolbarPlugin/ui/ImagePrompt.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/ImageToolbarPlugin/ui/ImageToolbarPlugin.stories.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/ImageToolbarPlugin/ui/ImageToolbarPlugin.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/LinkToolbarPlugin/index.ts
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/LinkToolbarPlugin/ui/LinkPrompt.module.scss
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/LinkToolbarPlugin/ui/LinkPrompt.stories.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/LinkToolbarPlugin/ui/LinkPrompt.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/LinkToolbarPlugin/ui/LinkToolbarPlugin.tsx
  src/features/ArticleEditor/ui/plugins/LinkPlugin/ui/LinkPlugin.tsx
  src/features/ArticleEditor/ui/plugins/SelectBlockTypeToolbarPlugin/SelectBlockTypeToolbarPlugin.tsx
  src/features/ArticleEditor/ui/plugins/UpdateSelectionStatePlugin/UpdateSelectionStatePlugin.ts
  src/shared/lib/url/sanitizeUrl/sanitizeUrl.ts
Due: prettier --write, eslint --fix, stylelint --fix

Add required html semantic to select
  src/shared/ui/deprecated/Button/Button.tsx
  src/shared/ui/deprecated/Popups/ui/Select/Select.module.scss
  src/shared/ui/deprecated/Popups/ui/Select/Select.tsx
  src/shared/ui/redesigned/Popups/ui/Select/Select.module.scss
  src/shared/ui/redesigned/Popups/ui/Select/Select.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Add articleDetails view for new articles
  src/app/styles/variables/global.scss
  src/entities/Article/ui/ArticleDetails/ArticleDetailsDeprecated/ArticleDetailsDeprecated.module.scss
  src/entities/Article/ui/ArticleDetails/ArticleDetailsDeprecated/ArticleDetailsDeprecated.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItemDeprecated/ArticleListItemDeprecated.tsx
  src/entities/Article/ui/ArticleThumbnail/ArticleThumbnail.tsx
  src/features/ArticleEditor/lib/getArticleStylesClassName/getArticleStylesClassName.scss
  src/features/ArticleEditor/ui/ArticleEditor/ArticleEditor.module.scss
  src/features/ArticleEditor/ui/ArticleEditor/ArticleEditor.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/ToolbarPlugin.module.scss
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/LinkToolbarPlugin/ui/LinkToolbarPlugin.tsx
  src/features/ArticleEditor/ui/plugins/DraggableBlockPlugin/DraggableBlockPlugin.tsx
  src/shared/lib/getDateText/getDateText.ts
  src/widgets/ArticleAdditionalInfo/ui/ArticleAdditionalInfo/ArticleAdditionalInfo.tsx
  src/widgets/CreateArticle/ui/CreateArticle/CreateArticle.module.scss
  src/widgets/CreateArticle/ui/CreateArticle/CreateArticle.tsx
  src/widgets/Page/ui/Page/Page.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

Make article subtile optional, add required to WithLabel
  src/entities/Article/model/types/article.ts
  src/shared/ui/deprecated/Input/Input.tsx
  src/shared/ui/deprecated/Popups/ui/Select/Select.tsx
  src/shared/ui/deprecated/WithLabel/WithLabel.stories.tsx
  src/shared/ui/deprecated/WithLabel/WithLabel.tsx
  src/shared/ui/redesigned/Input/Input.tsx
  src/shared/ui/redesigned/Popups/ui/Select/Select.tsx
  src/shared/ui/redesigned/WithLabel/WithLabel.stories.tsx
  src/shared/ui/redesigned/WithLabel/WithLabel.tsx
  src/widgets/CreateArticle/ui/CreateArticle/CreateArticle.tsx
Due: prettier --write, eslint --fix

Remake database
  server/db.json
Due: none

Add insertDom to imageNode
  src/entities/Article/ui/ArticleThumbnail/ArticleThumbnail.tsx
  src/features/ArticleEditor/ui/plugins/ImageBlockPlugin/nodes/ImageBlockNode.tsx
  src/shared/ui/deprecated/Popups/ui/Select/Select.stories.tsx
  src/shared/ui/deprecated/Popups/ui/Select/Select.tsx
  src/shared/ui/redesigned/Popups/ui/Select/Select.stories.tsx
  src/shared/ui/redesigned/Popups/ui/Select/Select.tsx
Due: prettier --write, eslint --fix

Add dompurify, edit article
  package-lock.json
  package.json
  public/locales/en/article-edit.json
  public/locales/uk/article-edit.json
  server/db.json
  src/entities/Article/index.ts
  src/entities/Article/model/api/articleDetailsApi.ts
  src/entities/Article/model/selectors/getArticleDetailsCanEdit/getArticleDetailsCanEdit.test.ts
  src/entities/Article/model/selectors/getArticleDetailsCanEdit/getArticleDetailsCanEdit.ts
  src/entities/Article/ui/ArticleDetails/ArticleDetailsDeprecated/ArticleDetailsDeprecated.tsx
  src/features/EditArticle/ui/EditArticle/EditArticle.tsx
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/ArticleDetailsPageDeprecated/ArticleDetailsPageDeprecated.tsx
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPageHeader/ArticleDetailsPageHeader.tsx
  src/pages/ArticleEditPage/ui/ArticleEditPage/ArticleEditPage.tsx
  src/shared/lib/html/sanitize/getSanitizedDomFromString.ts
  src/shared/lib/html/sanitize/index.ts
  src/shared/lib/html/sanitize/sanitizeHtmlString.ts
  src/widgets/ArticleAdditionalInfo/ui/ArticleAdditionalInfo/ArticleAdditionalInfo.tsx
  src/widgets/CreateArticle/index.ts
  src/widgets/CreateArticle/model/api/createArticleApi.ts
  src/widgets/CreateArticle/ui/CreateArticle/CreateArticle.tsx
  src/widgets/CreateArticle/ui/CreateArticle/CreateArticleSkeleton.tsx
Due: prettier --write, eslint --fix

Add LexicalProvider
  .eslintrc.js
  src/features/ArticleEditor/ui/ArticleEditor/ArticleEditor.tsx
  src/shared/lib/components/AnimationProvider/ui/AnimationContext.tsx
  src/shared/lib/components/LexicalProvider/index.ts
  src/shared/lib/components/LexicalProvider/lib/getAsyncLexicalModules.tsx
  src/shared/lib/components/LexicalProvider/lib/useLexicalLibs.tsx
  src/shared/lib/components/LexicalProvider/types/lexical.ts
  src/shared/lib/components/LexicalProvider/ui/LexicalContext.tsx
  src/shared/lib/components/LexicalProvider/ui/LexicalProvider.tsx
  src/shared/lib/components/LexicalProvider/ui/LoadLexicalProvider.tsx
  src/shared/lib/components/PrettierProvider/types/prettier.ts
  src/shared/lib/promise/promiseAllMap.ts
  src/shared/types/promise.ts
Due: prettier --write, eslint --fix

Add multiple and clear prop to redesigned select
  server/db.json
  src/pages/ArticleEditPage/ui/ArticleEditPage/ArticleEditPage.tsx
  src/shared/ui/deprecated/Popups/ui/Select/Select.stories.tsx
  src/shared/ui/redesigned/Popups/ui/Select/Select.stories.tsx
  src/shared/ui/redesigned/Popups/ui/Select/Select.tsx
  src/widgets/CreateArticle/ui/CreateArticle/CreateArticle.tsx
  src/widgets/Navbar/ui/Navbar/NavbarDeprecated/NavbarDeprecated.tsx
  src/widgets/Navbar/ui/Navbar/NavbarRedesigned/NavbarRedesigned.tsx
Due: prettier --write, eslint --fix

Redesign toolbar
  src/features/ArticleEditor/ui/ToolbarPlugin/ToolbarPlugin.module.scss
  src/features/ArticleEditor/ui/ToolbarPlugin/ToolbarPlugin.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/CodeBlockToolbarPlugin/CodeBlockToolbarPlugin.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/ImageToolbarPlugin/ui/ImageToolbarPlugin.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/LinkToolbarPlugin/ui/LinkToolbarPlugin.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/TextFormatToolbarPlugin/ui/TextFormatPlugin.tsx
  src/features/ArticleEditor/ui/plugins/SelectBlockTypeToolbarPlugin/SelectBlockTypeToolbarPlugin.tsx
  src/shared/ui/deprecated/Card/Card.module.scss
  src/shared/ui/deprecated/Card/Card.stories.tsx
  src/shared/ui/deprecated/Card/Card.tsx
  src/shared/ui/redesigned/Card/Card.module.scss
  src/shared/ui/redesigned/Card/Card.tsx
  src/shared/ui/redesigned/Popups/ui/Select/Select.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Redesign create article
  src/entities/Article/ui/ArticleDetails/ArticleDetailsRedesigned/ArticleDetailsRedesigned.tsx
  src/features/ArticleEditor/lib/getArticleStylesClassName/getArticleStylesClassName.scss
  src/features/ArticleEditor/ui/ArticleEditor/ArticleEditor.module.scss
  src/features/ArticleEditor/ui/ArticleEditor/ArticleEditor.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/ToolbarPlugin.module.scss
  src/features/ArticleEditor/ui/ToolbarPlugin/ToolbarPlugin.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/LinkToolbarPlugin/ui/LinkPrompt.tsx
  src/features/ArticleEditor/ui/ToolbarPlugin/plugins/LinkToolbarPlugin/ui/LinkToolbarPlugin.tsx
  src/features/ArticleEditor/ui/plugins/CodeActionMenuPlugin/ui/CodeActionMenu/CodeActionMenu.scss
  src/features/ArticleEditor/ui/plugins/CodeActionMenuPlugin/ui/CopyButton/CopyButton.tsx
  src/features/ArticleEditor/ui/plugins/CodeActionMenuPlugin/ui/PrettierButton/PrettierButton.tsx
  src/features/ArticleEditor/ui/plugins/CodeActionMenuPlugin/ui/SelectLanguage/SelectLanguage.tsx
  src/features/ArticleEditor/ui/plugins/DraggableBlockPlugin/DraggableBlockPlugin.module.scss
  src/features/ArticleEditor/ui/plugins/DraggableBlockPlugin/DraggableBlockPlugin.tsx
  src/pages/ArticleEditPage/ui/ArticleEditPage/ArticleEditPage.tsx
  src/shared/assets/icons/redesigned/prettier.svg
  src/shared/assets/icons/redesigned/textEditor/prettier.svg
  src/shared/assets/icons/redesigned/tick.svg
  src/shared/lib/html/confirmBeforeLeave/confirmBeforeLeave.ts
  src/shared/ui/redesigned/Icon/Icon.module.scss
  src/shared/ui/redesigned/Icon/Icon.stories.tsx
  src/shared/ui/redesigned/Icon/Icon.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Add useConfirmBeforeLeave
  src/features/EditableProfileCard/ui/EditableProfileCard/EditableProfileCard.tsx
  src/pages/ArticleEditPage/ui/ArticleEditPage/ArticleEditPage.tsx
  src/shared/lib/hooks/useConfirmBeforeLeave/useConfirmBeforeLeave.ts
  src/shared/lib/html/confirmBeforeLeave/confirmBeforeLeave.ts
Due: prettier --write, eslint --fix

Add translation
  public/locales/en/article-edit.json
  public/locales/en/editor.json
  public/locales/uk/article-edit.json
  public/locales/uk/editor.json
  server/db.json
  src/features/ImageToolbarPlugin/ui/ImageComponent/ImageComponent.tsx
  src/features/ImageToolbarPlugin/ui/ImagePrompt/ImagePrompt.tsx
  src/features/LinkToolbarPlugin/ui/LinkPrompt/LinkPrompt.tsx
  src/pages/CreateArticlePage/ui/CreateArticle/CreateArticle.tsx
  src/pages/CreateArticlePage/ui/CreateArticlePage/CreateArticlePage.tsx
  src/widgets/ArticleEditor/ui/ArticleEditor/ArticleEditor.tsx
Due: prettier --write, eslint --fix

Fix date view on new design
  src/entities/Article/ui/ArticleListItem/ArticleListItemRedesigned/ArticleListItemRedesigned.tsx
  src/widgets/ArticleAdditionalInfo/ui/ArticleAdditionalInfo/ArticleAdditionalInfo.tsx
Due: prettier --write, eslint --fix

Fix image component design
  src/features/ImageToolbarPlugin/ui/ImageComponent/ImageComponent.module.scss
  src/features/ImageToolbarPlugin/ui/ImageComponent/ImageComponent.tsx
  src/features/ImageToolbarPlugin/ui/ImagePrompt/ImagePrompt.tsx
Due: prettier --write, eslint --fix, stylelint --fix
