Repository Demianeen/react-production: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Add e2e tests with cypress
  .eslintrc.js
  config/jest/jest.config.ts
  cypress.config.ts
  cypress/e2e/2-advanced-examples/actions.cy.js
  cypress/e2e/2-advanced-examples/aliasing.cy.js
  cypress/e2e/2-advanced-examples/assertions.cy.js
  cypress/e2e/2-advanced-examples/connectors.cy.js
  cypress/e2e/2-advanced-examples/cookies.cy.js
  cypress/e2e/2-advanced-examples/cypress_api.cy.js
  cypress/e2e/2-advanced-examples/files.cy.js
  cypress/e2e/2-advanced-examples/location.cy.js
  cypress/e2e/2-advanced-examples/misc.cy.js
  cypress/e2e/2-advanced-examples/navigation.cy.js
  cypress/e2e/2-advanced-examples/network_requests.cy.js
  cypress/e2e/2-advanced-examples/querying.cy.js
  cypress/e2e/2-advanced-examples/spies_stubs_clocks.cy.js
  cypress/e2e/2-advanced-examples/storage.cy.js
  cypress/e2e/2-advanced-examples/traversal.cy.js
  cypress/e2e/2-advanced-examples/utilities.cy.js
  cypress/e2e/2-advanced-examples/viewport.cy.js
  cypress/e2e/2-advanced-examples/waiting.cy.js
  cypress/e2e/2-advanced-examples/window.cy.js
  cypress/e2e/common/router.cy.ts
  cypress/fixtures/example.json
  cypress/helpers/selectByTestId.ts
  cypress/support/commands.ts
  cypress/support/commands/login.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  json-server/db.json
  package-lock.json
  package.json
  reports/template/unit/report.html
  tsconfig.json
Due: prettier --write, eslint --fix

Add e2e tests for article, profile
  .vscode/settings.json
  cypress/e2e/article/article-details.cy.ts
  cypress/e2e/article/article-list.cy.ts
  cypress/e2e/common/router.cy.ts
  cypress/e2e/profile/profile-edit.cy.ts
  cypress/support/commands.ts
  cypress/support/commands/article.ts
  cypress/support/commands/comment.ts
  cypress/support/commands/common.ts
  cypress/support/commands/login.ts
  cypress/support/commands/profile.ts
  cypress/support/commands/rating.ts
  cypress/tsconfig.json
  json-server/db.json
  reports/templates/unit/report.html
  src/entities/Article/ui/ArticleCodeBlockComponent/ArticleCodeBlockComponent.tsx
  src/entities/Article/ui/ArticleDetails/ArticleDetails.tsx
  src/entities/Article/ui/ArticleImageBlockComponent/ArticleImageBlockComponent.tsx
  src/entities/Article/ui/ArticleList/ArticleList.tsx
  src/entities/Article/ui/ArticleList/VirtualizedArticleList.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItem.tsx
  src/entities/Article/ui/ArticleTextBlockComponent/ArticleTextBlockComponent.tsx
  src/entities/Comment/ui/CommentCard/CommentCard.tsx
  src/entities/Comment/ui/CommentList/CommentList.tsx
  src/entities/CommentForm/ui/CommentForm/CommentForm.tsx
  src/entities/ListFilters/ui/ListFiltersSortField/ListFiltersSortField.tsx
  src/entities/Rating/ui/RatingCard/RatingCard.tsx
  src/features/ArticleRecommendationsList/ui/ArticleRecommendationsList/ArticleRecommendationsList.tsx
  src/shared/config/i18n/i18n.ts
  src/shared/ui/Code/Code.tsx
  src/shared/ui/Search/Search.tsx
  src/shared/ui/StarRating/StarRating.tsx
Due: prettier --write, eslint --fix

Update article-list tests
  cypress/e2e/article/article-list.cy.ts
  json-server/db.json
Due: prettier --write, eslint --fix

Add https for backend, remove apiUrl in build:prod
  json-server/db.json
  json-server/index.js
  package.json
Due: none

Add http server
  json-server/index.js
Due: none

Add deploy script, getApiUrl, nginx conf
  .deploy/deploy.sh
  .deploy/nginx.conf
  package.json
  webpack.config.ts
Due: prettier --write, eslint --fix

Add ci deploy action, remove unused eslint plugin
  .deploy/nginx.conf
  .github/workflows/deploy.yml
  package-lock.json
  package.json
Due: none

Update babel, package-lock
  package-lock.json
  package.json
  public/mockServiceWorker.js
  src/shared/lib/react/typedForwardRef/typedForwardRef.ts
Due: prettier --write, eslint --fix

Set debug to true for ci ssh
  .github/workflows/deploy.yml
Due: none

Add deploy.yml to run on pull requests
  .github/workflows/building.yml
  .github/workflows/deploy.yml
Due: none

Add ls command to deploy action
  .github/workflows/deploy.yml
Due: none

Change test command to ls in deploy.yml
  .github/workflows/deploy.yml
Due: none

Add flag to ls test command
  .github/workflows/deploy.yml
Due: none

Change flag to a
  .github/workflows/deploy.yml
Due: none

Add echo PATH
  .github/workflows/deploy.yml
Due: none

Add nvm path to $PATH
  .github/workflows/deploy.yml
Due: none

Add output echo
  .github/workflows/deploy.yml
Due: none

Fix github output
  .github/workflows/deploy.yml
Due: none

Update prod deployment message
  .github/workflows/deploy.yml
Due: none

Add node_version env variable
  .github/workflows/building.yml
  .github/workflows/linting.yml
  .github/workflows/testing.yml
Due: none

Update output command to printf
  .github/workflows/deploy.yml
Due: none

Merge building and deploy.yml
  .github/workflows/building-and-deploying.yml
  .github/workflows/building.yml
Due: none

Fix deploy.yml, merge building deploy.yml, add env for node version
  .github/workflows/building-and-deploying.yml
  .github/workflows/building.yml
  .github/workflows/deploy.yml
  .github/workflows/linting.yml
  .github/workflows/testing.yml
Due: none

Add arguments for selector, fix server in dev mode
  json-server/index.js
  src/shared/ui/store/buildSelector/buildSelector.ts
  src/shared/ui/store/buildSelector/reselect.types.ts
Due: prettier --write, eslint --fix

Add feature flags concept
  .github/workflows/testing.yml
  json-server/db.json
  src/entities/Article/model/mocks/mockArticle.ts
  src/entities/Comment/model/mocks/mockCommentEntities.ts
  src/entities/User/model/mocks/mockUser.ts
  src/entities/User/model/slice/userSlice.ts
  src/entities/User/model/types/userSchema.ts
  src/features/AuthByUsername/model/services/loginByUsername/loginByUsername.test.ts
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPageFooter/ArticleDetailsPageFooter.tsx
  src/shared/lib/features/index.ts
  src/shared/lib/features/setGetFeatures.ts
  src/shared/types/featureFlags.ts
  src/widgets/Navbar/ui/Navbar.tsx
Due: prettier --write, eslint --fix

Add toggle flags, auto remove feature script
  .eslintrc.js
  .vscode/settings.json
  README.md
  package.json
  scripts/removeFeature.ts
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/ArticleDetailsPage.tsx
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPageFooter/ArticleDetailsPageFooter.tsx
  src/shared/lib/features/index.ts
  src/shared/lib/features/toggleFeatures.ts
Due: prettier --write, eslint --fix

Add buildAsyncThunk, fix buildSelector
  src/shared/lib/react/typedBindActionCreators/typedBindActionCreators.ts
  src/shared/ui/store/buildAsyncThunk.ts
  src/shared/ui/store/buildSelector/buildSelector.ts
  src/shared/ui/store/buildSelector/reselect.types.ts
Due: prettier --write, eslint --fix

Add json settings
  json-server/db.json
  src/app/App.tsx
  src/app/providers/ThemeProvider/ui/ThemeProvider.tsx
  src/entities/User/index.ts
  src/entities/User/model/api/userApi.ts
  src/entities/User/model/selectors/jsonSettings.ts
  src/entities/User/model/services/saveJsonSettings.ts
  src/entities/User/model/slice/userSlice.ts
  src/entities/User/model/types/jsonSettings.ts
  src/entities/User/model/types/userSchema.ts
  src/features/ThemeSwitcher/ui/ThemeSwitcher.tsx
  src/features/UserDropdown/ui/UserDropdown/UserDropdown.tsx
  src/shared/hooks/useTheme/useTheme.tsx
Due: prettier --write, eslint --fix

Change init auth data from localstorage to request
  json-server/db.json
  src/app/App.tsx
  src/app/providers/ThemeProvider/ui/ThemeProvider.tsx
  src/entities/User/index.ts
  src/entities/User/model/api/userApi.ts
  src/entities/User/model/mocks/userHandlers.ts
  src/entities/User/model/services/initAuthData.ts
  src/entities/User/model/slice/userSlice.ts
  src/entities/User/model/types/userSchema.ts
  src/features/AuthByUsername/model/services/loginByUsername/loginByUsername.ts
  src/shared/api/api.ts
  src/shared/api/rtkApi.ts
  src/shared/const/localstorage.ts
  src/shared/lib/storybook/InitUserDecorator.tsx
  src/shared/ui/Skeleton/Skeleton.module.scss
  src/shared/ui/Skeleton/Skeleton.tsx
  src/widgets/LoaderLayout/index.ts
  src/widgets/LoaderLayout/ui/LoaderLayout.stories.tsx
  src/widgets/LoaderLayout/ui/LoaderLayout.tsx
  src/widgets/Navbar/index.ts
  src/widgets/Navbar/ui/NavbarSkeleton.tsx
  src/widgets/Sidebar/index.ts
  src/widgets/Sidebar/ui/Sidebar/SidebarSkeleton.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Add greeting for articles page, localstorage json settings while loading
  .vscode/settings.json
  json-server/db.json
  public/locales/en/articles.json
  public/locales/ua/articles.json
  src/app/providers/ThemeProvider/ui/ThemeProvider.tsx
  src/entities/Article/ui/ArticleList/VirtualizedArticleList.tsx
  src/entities/User/model/services/initAuthData.ts
  src/entities/User/model/services/saveJsonSettings.ts
  src/entities/User/model/slice/userSlice.ts
  src/entities/User/model/types/jsonSettings.ts
  src/features/ArticlePageGreeting/index.ts
  src/features/ArticlePageGreeting/ui/ArticlePageGreeting/ArticlePageGreeting.stories.tsx
  src/features/ArticlePageGreeting/ui/ArticlePageGreeting/ArticlePageGreeting.tsx
  src/features/LangSwitcher/ui/LangSwitcher.tsx
  src/pages/ArticlesPage/ui/ArticlesPage/ArticlesPage.tsx
  src/shared/const/localstorage.ts
  src/widgets/Navbar/ui/NavbarSkeleton.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  eslint --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.scss
