Repository Demianeen/react-production: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Fix InitUserAuth, add localization decorator, useJsonSettingOnUserInit
  .vscode/launch.json
  config/storybook/main.ts
  config/storybook/preview.ts
  json-server/db.json
  scripts/createSlice/generators/createUi/templates/stories.template.ts
  src/app/providers/ThemeProvider/ui/ThemeProvider.tsx
  src/entities/User/README.md
  src/entities/User/index.ts
  src/entities/User/lib/useJsonSettingOnUserInit.ts
  src/entities/User/model/mocks/mockUser.ts
  src/entities/User/model/mocks/userHandlers.ts
  src/entities/User/model/selectors/jsonSettings.ts
  src/entities/User/model/services/initAuthData.ts
  src/entities/User/model/services/saveJsonSettings.ts
  src/entities/User/model/slice/userSlice.ts
  src/entities/User/model/types/userSchema.ts
  src/entities/User/testing.ts
  src/features/ArticlePageGreeting/ui/ArticlePageGreeting/ArticlePageGreeting.stories.tsx
  src/features/LangSwitcher/ui/LangSwitcher.tsx
  src/shared/lib/mock-server/isStoryNameIncludes.ts
  src/shared/lib/storybook/I18NextDecorator.tsx
  src/shared/lib/storybook/InitUserDecorator.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.stories.tsx
Due: prettier --write, eslint --fix

Add toggle features for components
  package.json
  scripts/removeFeature.ts
  scripts/removeFeature/index.ts
  scripts/removeFeature/lib/removeToggleComponent.ts
  scripts/removeFeature/lib/removeToggleFunction.ts
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPageFooter/ArticleDetailsPageFooter.tsx
  src/shared/lib/features/ToggleFeatures/ToggleFeatures.tsx
  src/shared/lib/features/index.ts
Due: prettier --write, eslint --fix

Fix screens, fix problem with build
  .loki/reference/chrome_iphone7_widgets_Sidebar_Unauthorized.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Unauthorized.png
  src/features/ArticlePageGreeting/ui/ArticlePageGreeting/ArticlePageGreeting.stories.tsx
  src/features/AuthByUsername/model/services/loginByUsername/loginByUsername.test.ts
Due: prettier --write, eslint --fix

Skip async tests, fix screens
  .loki/reference/chrome_iphone7_pages_ProfilePage_Dark.png
  .loki/reference/chrome_iphone7_pages_ProfilePage_Light.png
  .loki/reference/chrome_iphone7_pages_ProfilePage_Not_Found.png
  .loki/reference/chrome_iphone7_pages_ProfilePage_Red.png
  .loki/reference/chrome_laptop_pages_ProfilePage_Dark.png
  .loki/reference/chrome_laptop_pages_ProfilePage_Light.png
  .loki/reference/chrome_laptop_pages_ProfilePage_Not_Found.png
  .loki/reference/chrome_laptop_pages_ProfilePage_Red.png
  package-lock.json
  package.json
  src/entities/Profile/ui/ProfileCard/ProfileCard.stories.tsx
  src/entities/User/model/api/userApi.ts
  src/features/EditableProfileCard/ui/EditableProfileCard/EditableProfileCard.stories.tsx
  src/pages/ProfilePage/ui/ProfilePage/ProfilePage.stories.tsx
Due: prettier --write, eslint --fix

Fix screens, add skip to ProfilePage
  .loki/reference/chrome_iphone7_entities_ProfileCard_Dark.png
  .loki/reference/chrome_iphone7_entities_ProfileCard_Error.png
  .loki/reference/chrome_iphone7_entities_ProfileCard_Light.png
  .loki/reference/chrome_iphone7_entities_ProfileCard_Readonly.png
  .loki/reference/chrome_iphone7_entities_ProfileCard_Red.png
  .loki/reference/chrome_iphone7_entities_ProfileCard_Without_Values.png
  .loki/reference/chrome_iphone7_features_EditableProfileCard_EditableProfileCard_Dark.png
  .loki/reference/chrome_iphone7_features_EditableProfileCard_EditableProfileCard_Error.png
  .loki/reference/chrome_iphone7_features_EditableProfileCard_EditableProfileCard_Light.png
  .loki/reference/chrome_iphone7_features_EditableProfileCard_EditableProfileCard_Red.png
  .loki/reference/chrome_iphone7_pages_ProfilePage_Dark.png
  .loki/reference/chrome_iphone7_pages_ProfilePage_Light.png
  .loki/reference/chrome_iphone7_pages_ProfilePage_Not_Found.png
  .loki/reference/chrome_iphone7_pages_ProfilePage_Red.png
  .loki/reference/chrome_laptop_entities_Article_ArticleList_List.png
  .loki/reference/chrome_laptop_entities_ProfileCard_Dark.png
  .loki/reference/chrome_laptop_entities_ProfileCard_Error.png
  .loki/reference/chrome_laptop_entities_ProfileCard_Light.png
  .loki/reference/chrome_laptop_entities_ProfileCard_Readonly.png
  .loki/reference/chrome_laptop_entities_ProfileCard_Red.png
  .loki/reference/chrome_laptop_entities_ProfileCard_Without_Values.png
  .loki/reference/chrome_laptop_features_EditableProfileCard_EditableProfileCard_Dark.png
  .loki/reference/chrome_laptop_features_EditableProfileCard_EditableProfileCard_Error.png
  .loki/reference/chrome_laptop_features_EditableProfileCard_EditableProfileCard_Light.png
  .loki/reference/chrome_laptop_features_EditableProfileCard_EditableProfileCard_Red.png
  .loki/reference/chrome_laptop_pages_ProfilePage_Dark.png
  .loki/reference/chrome_laptop_pages_ProfilePage_Light.png
  .loki/reference/chrome_laptop_pages_ProfilePage_Not_Found.png
  .loki/reference/chrome_laptop_pages_ProfilePage_Red.png
  src/pages/ProfilePage/ui/ProfilePage/ProfilePage.stories.tsx
Due: prettier --write, eslint --fix

Add more tolerance to loki
  package.json
Due: none

Fix icons size and color
  config/build/loaders/buildSvgLoader.ts
  json-server/db.json
  reports/233b2c04cc63d3f402ccc752259b0ef89988367e/ui/report.json
  src/entities/ListFilters/ui/ListFiltersView/ListFiltersView.tsx
  src/features/NotificationButton/ui/NotificationButton/NotificationButton.tsx
  src/features/ThemeSwitcher/ui/ThemeSwitcher.tsx
  src/pages/ArticlesPage/ui/ArticlesPage/ArticlesPage.tsx
  src/shared/assets/icons/deprecated/theme-40-41.svg
  src/shared/assets/icons/deprecated/theme-dark-40-41.svg
Due: prettier --write, eslint --fix

Add addons for input, button, useFocus, useTab
  json-server/db.json
  src/app/styles/index.scss
  src/app/styles/variables/global.scss
  src/features/ArticleListFilters/ui/ArticleListFilters/ArticleListFilters.tsx
  src/features/NotificationButton/ui/NotificationButton/NotificationButtonRedesigned/NotificationButtonRedesigned.tsx
  src/features/UserDropdown/ui/UserDropdown/UserDropdown.tsx
  src/shared/lib/hooks/useFocus/useFocus.ts
  src/shared/lib/hooks/useHover/useHover.ts
  src/shared/lib/hooks/useTab/useTab.ts
  src/shared/ui/redesigned/Button/Button.module.scss
  src/shared/ui/redesigned/Button/Button.tsx
  src/shared/ui/redesigned/Input/Input.module.scss
  src/shared/ui/redesigned/Input/Input.stories.tsx
  src/shared/ui/redesigned/Input/Input.tsx
  src/shared/ui/redesigned/Input/InputSkeleton.stories.tsx
  src/shared/ui/redesigned/Input/InputSkeleton.tsx
  src/shared/ui/redesigned/Input/index.ts
  src/shared/ui/redesigned/Popups/styles/Popup.module.scss
  src/shared/ui/redesigned/Popups/ui/Dropdown/Dropdown.tsx
  src/shared/ui/redesigned/Popups/ui/Select/Select.module.scss
  src/shared/ui/redesigned/Popups/ui/Select/Select.tsx
  src/shared/ui/redesigned/Search/Search.stories.tsx
  src/shared/ui/redesigned/Search/Search.tsx
  src/shared/ui/redesigned/Search/index.ts
  src/shared/ui/redesigned/Stack/Flex/Flex.tsx
  src/shared/ui/redesigned/WithLabel/WithLabel.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Redesign profile card
  json-server/db.json
  src/entities/Country/ui/SelectCountry.tsx
  src/entities/Currency/ui/SelectCurrency.tsx
  src/entities/Profile/ui/ProfileCard/ProfileCard.tsx
  src/entities/Profile/ui/ProfileCard/ProfileCardDeprecated/ProfileCardDeprecated.module.scss
  src/entities/Profile/ui/ProfileCard/ProfileCardDeprecated/ProfileCardDeprecated.stories.tsx
  src/entities/Profile/ui/ProfileCard/ProfileCardDeprecated/ProfileCardDeprecated.tsx
  src/entities/Profile/ui/ProfileCard/ProfileCardRedesigned/ProfileCardRedesigned.module.scss
  src/entities/Profile/ui/ProfileCard/ProfileCardRedesigned/ProfileCardRedesigned.stories.tsx
  src/entities/Profile/ui/ProfileCard/ProfileCardRedesigned/ProfileCardRedesigned.tsx
  src/features/EditableProfileCard/ui/EditableProfileCard/EditableProfileCard.tsx
  src/features/NotificationButton/ui/NotificationButton/NotificationButtonRedesigned/NotificationButtonRedesigned.tsx
  src/shared/ui/redesigned/Input/Input.module.scss
  src/shared/ui/redesigned/Input/Input.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Redesign skeletons
  src/app/styles/variables/global.scss
  src/entities/Profile/ui/ProfileCard/ProfileCardRedesigned/ProfileCardRedesigned.tsx
  src/shared/ui/redesigned/Avatar/Avatar.tsx
  src/shared/ui/redesigned/Input/InputSkeleton.tsx
  src/shared/ui/redesigned/Skeleton/Skeleton.module.scss
  src/shared/ui/redesigned/Skeleton/Skeleton.stories.tsx
  src/shared/ui/redesigned/Skeleton/Skeleton.tsx
  src/shared/ui/redesigned/WithLabel/WithLabel.module.scss
  src/shared/ui/redesigned/WithLabel/WithLabel.tsx
  src/shared/ui/redesigned/WithLabel/WithLabelSkeleton.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Redesign grid articles view
  json-server/db.json
  src/entities/Article/ui/ArticleList/ArticleList.module.scss
  src/entities/Article/ui/ArticleListItem/ArticleListItemRedesigned/ArticleListItemRedesigned.module.scss
  src/entities/Article/ui/ArticleListItem/ArticleListItemRedesigned/ArticleListItemRedesigned.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItemSkeletonRedesigned/ArticleListItemSkeletonRedesigned.tsx
  src/features/ArticleRecommendationsList/api/articleRecommendationsApi.ts
  src/shared/ui/redesigned/Skeleton/Skeleton.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Redesign list articles view, update infinite article list
  json-server/db.json
  src/app/styles/variables/global.scss
  src/entities/Article/ui/ArticleList/ArticleList.module.scss
  src/entities/Article/ui/ArticleListItem/ArticleListItem.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItemDeprecated/ArticleListItemDeprecated.module.scss
  src/entities/Article/ui/ArticleListItem/ArticleListItemDeprecated/ArticleListItemDeprecated.stories.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItemDeprecated/ArticleListItemDeprecated.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItemRedesigned/ArticleListItemRedesigned.module.scss
  src/entities/Article/ui/ArticleListItem/ArticleListItemRedesigned/ArticleListItemRedesigned.stories.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItemRedesigned/ArticleListItemRedesigned.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItemSkeleton.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItemSkeletonDeprecated/ArticleListItemSkeletonDeprecated.stories.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItemSkeletonDeprecated/ArticleListItemSkeletonDeprecated.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItemSkeletonRedesigned/ArticleListItemSkeletonRedesigned.stories.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItemSkeletonRedesigned/ArticleListItemSkeletonRedesigned.tsx
  src/shared/layouts/MainLayout/MainLayout.module.scss
  src/shared/layouts/StickyContentLayout/StickyContentLayout.tsx
  src/shared/ui/redesigned/Button/Button.module.scss
  src/shared/ui/redesigned/Input/Input.module.scss
  src/shared/ui/redesigned/Skeleton/Skeleton.tsx
  src/shared/ui/redesigned/Title/Title.tsx
  src/widgets/ArticleInfiniteList/ui/ArticleInfiniteList/ArticleInfiniteListRedesigned/ArticleInfiniteListRedesigned.module.scss
  src/widgets/ArticleInfiniteList/ui/ArticleInfiniteList/ArticleInfiniteListRedesigned/ArticleInfiniteListRedesigned.tsx
  src/widgets/Sidebar/ui/SidebarItem/SidebarItemRedesigned/SidebarItemRedesigned.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

Add settings page, ui design switcher, mutation to change feature flags
  json-server/db.json
  public/locales/en/settings.json
  public/locales/en/translation.json
  public/locales/ua/settings.json
  public/locales/ua/translation.json
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/router/ui/AppRouter.tsx
  src/entities/Notification/ui/NotificationList/NotificationListRedesigned/NotificationListRedesigned.tsx
  src/features/ToggleDesign/index.ts
  src/features/ToggleDesign/ui/ToggleDesign/ToggleDesign.stories.tsx
  src/features/ToggleDesign/ui/ToggleDesign/ToggleDesign.tsx
  src/features/UserDropdown/ui/UserDropdown/UserDropdown.tsx
  src/pages/NotFoundPage/ui/NotFoundPage.tsx
  src/pages/SettingsPage/index.ts
  src/pages/SettingsPage/ui/SettingsPage/SettingsPage.async.tsx
  src/pages/SettingsPage/ui/SettingsPage/SettingsPage.stories.tsx
  src/pages/SettingsPage/ui/SettingsPage/SettingsPage.tsx
  src/shared/const/router/appRoutes.ts
  src/shared/const/router/routePath.ts
  src/shared/lib/features/api/featureFlagsApi.ts
  src/shared/lib/features/components/ToggleFeatures/ToggleFeatures.tsx
  src/shared/lib/features/index.ts
  src/shared/lib/features/lib/setGetFeatures.ts
  src/shared/lib/features/lib/toggleFeatures.ts
  src/shared/lib/router/routes.ts
  src/shared/ui/redesigned/Button/ButtonSkeleton.tsx
  src/shared/ui/redesigned/Card/CardSkeleton.tsx
  src/shared/ui/redesigned/Skeleton/Skeleton.module.scss
  src/widgets/ArticleInfiniteList/ui/ArticleInfiniteList/ArticleInfiniteListRedesigned/ArticleInfiniteListRedesigned.tsx
  src/widgets/Sidebar/model/selectors/getSidebarItems/getSidebarItems.ts
Due: prettier --write, eslint --fix, stylelint --fix

Fix tab navigation for articles page, view selector, card skeleton
  json-server/db.json
  src/app/providers/router/ui/AppRouter.tsx
  src/entities/Article/ui/ArticleList/VirtualizedArticleList.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItemRedesigned/ArticleListItemRedesigned.module.scss
  src/entities/Article/ui/ArticleListItem/ArticleListItemRedesigned/ArticleListItemRedesigned.tsx
  src/entities/ListFilters/ui/ListFiltersView/ListFiltersViewRedesigned/ListFiltersViewRedesigned.tsx
  src/entities/Notification/ui/NotificationList/NotificationListRedesigned/NotificationListRedesigned.tsx
  src/shared/layouts/MainLayout/MainLayout.module.scss
  src/shared/layouts/MainLayout/MainLayout.tsx
  src/shared/layouts/StickyContentLayout/StickyContentLayout.tsx
  src/shared/ui/redesigned/Card/Card.tsx
  src/shared/ui/redesigned/Card/CardSkeleton.stories.tsx
  src/shared/ui/redesigned/Card/CardSkeleton.tsx
  src/shared/ui/redesigned/Card/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

Redesign article details
  json-server/db.json
  src/entities/Article/ui/ArticleCodeBlockComponent/ArticleCodeBlockComponent.tsx
  src/entities/Article/ui/ArticleDetails/ArticleDetails.tsx
  src/entities/Article/ui/ArticleDetails/ArticleDetailsDeprecated/ArticleDetailsDeprecated.module.scss
  src/entities/Article/ui/ArticleDetails/ArticleDetailsDeprecated/ArticleDetailsDeprecated.stories.tsx
  src/entities/Article/ui/ArticleDetails/ArticleDetailsDeprecated/ArticleDetailsDeprecated.tsx
  src/entities/Article/ui/ArticleDetails/ArticleDetailsRedesigned/ArticleDetailsRedesigned.module.scss
  src/entities/Article/ui/ArticleDetails/ArticleDetailsRedesigned/ArticleDetailsRedesigned.stories.tsx
  src/entities/Article/ui/ArticleDetails/ArticleDetailsRedesigned/ArticleDetailsRedesigned.tsx
  src/entities/Article/ui/ArticleDetails/ArticleDetailsRedesigned/renderBlock.tsx
  src/entities/Article/ui/ArticleImageBlockComponent/ArticleImageBlockComponent.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItemDeprecated/ArticleListItemSkeletonDeprecated.stories.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItemDeprecated/ArticleListItemSkeletonDeprecated.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItemRedesigned/ArticleListItemSkeletonRedesigned.stories.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItemRedesigned/ArticleListItemSkeletonRedesigned.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItemSkeleton.tsx
  src/entities/Article/ui/ArticleTextBlockComponent/ArticleTextBlockComponent.tsx
  src/entities/Article/ui/ArticleTextBlockComponent/ArticleTextBlockComponentDeprecated/ArticleTextBlockComponentDeprecated.module.scss
  src/entities/Article/ui/ArticleTextBlockComponent/ArticleTextBlockComponentDeprecated/ArticleTextBlockComponentDeprecated.stories.tsx
  src/entities/Article/ui/ArticleTextBlockComponent/ArticleTextBlockComponentDeprecated/ArticleTextBlockComponentDeprecated.tsx
  src/entities/Article/ui/ArticleTextBlockComponent/ArticleTextBlockComponentRedesigned/ArticleTextBlockComponentRedesigned.module.scss
  src/entities/Article/ui/ArticleTextBlockComponent/ArticleTextBlockComponentRedesigned/ArticleTextBlockComponentRedesigned.stories.tsx
  src/entities/Article/ui/ArticleTextBlockComponent/ArticleTextBlockComponentRedesigned/ArticleTextBlockComponentRedesigned.tsx
  src/shared/ui/redesigned/Code/Code.module.scss
  src/shared/ui/redesigned/Code/Code.stories.tsx
  src/shared/ui/redesigned/Code/Code.tsx
  src/shared/ui/redesigned/Code/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

Fix label for select
  json-server/db.json
  src/entities/CommentForm/ui/CommentForm/CommentFormDeprecated/CommentFormDeprecated.tsx
  src/features/AuthByUsername/lib/useLoginForm.ts
  src/features/AuthByUsername/ui/LoginForm/LoginForm.tsx
  src/features/AuthByUsername/ui/LoginForm/LoginFormDeprecated/LoginForm.module.scss
  src/features/AuthByUsername/ui/LoginForm/LoginFormDeprecated/LoginForm.stories.tsx
  src/features/AuthByUsername/ui/LoginForm/LoginFormDeprecated/LoginFormDeprecated.tsx
  src/features/AuthByUsername/ui/LoginForm/LoginFormRedesigned/LoginForm.module.scss
  src/features/AuthByUsername/ui/LoginForm/LoginFormRedesigned/LoginForm.stories.tsx
  src/features/AuthByUsername/ui/LoginForm/LoginFormRedesigned/LoginFormRedesigned.tsx
  src/shared/lib/features/lib/setGetFeatures.ts
  src/shared/ui/redesigned/Popups/ui/Select/Select.tsx
  src/shared/ui/redesigned/Spinner/Spinner.module.scss
  src/shared/ui/redesigned/Spinner/Spinner.stories.tsx
  src/shared/ui/redesigned/Spinner/Spinner.tsx
  src/shared/ui/redesigned/Spinner/index.ts
  src/shared/ui/redesigned/Typography/Typography.module.scss
  src/shared/ui/redesigned/Typography/Typography.tsx
  src/shared/ui/redesigned/WithLabel/WithLabel.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Fix Ukrainian language code, plural forms
  json-server/db.json
  public/locales/uk/about.json
  public/locales/uk/admin.json
  public/locales/uk/article-details.json
  public/locales/uk/article-edit.json
  public/locales/uk/articles.json
  public/locales/uk/home.json
  public/locales/uk/profile.json
  public/locales/uk/settings.json
  public/locales/uk/translation.json
  src/features/LangSwitcher/ui/LangSwitcher.tsx
Due: prettier --write, eslint --fix

Add icons highlighting in collapsed view
  src/widgets/Sidebar/ui/SidebarItem/SidebarItemRedesigned/SidebarItemRedesigned.tsx
Due: prettier --write, eslint --fix

Redesign auth modal, layout loader, editable profile card, micro fixes
  README.md
  json-server/db.json
  src/entities/Rating/ui/RatingCard/RatingCardRedesigned/RatingCardRedesigned.tsx
  src/entities/User/model/slice/userSlice.ts
  src/features/AuthByUsername/model/services/loginByUsername/loginByUsername.ts
  src/features/EditableProfileCard/ui/EditableProfileCard/EditableProfileCard.tsx
  src/features/EditableProfileCard/ui/EditableProfileCardHeader/EditableProfileCardHeader.tsx
  src/shared/const/localstorage.ts
  src/shared/lib/features/lib/setGetFeatures.ts
  src/shared/ui/redesigned/Button/Button.module.scss
  src/shared/ui/redesigned/Button/Button.tsx
  src/widgets/LoaderLayout/ui/LoaderLayout.tsx
  src/widgets/Navbar/index.ts
  src/widgets/Navbar/ui/Navbar/Navbar.tsx
  src/widgets/Navbar/ui/Navbar/NavbarDeprecated/NavbarDeprecated.module.scss
  src/widgets/Navbar/ui/Navbar/NavbarDeprecated/NavbarDeprecated.stories.tsx
  src/widgets/Navbar/ui/Navbar/NavbarDeprecated/NavbarDeprecated.tsx
  src/widgets/Navbar/ui/Navbar/NavbarDeprecated/NavbarDeprecatedSkeleton.tsx
  src/widgets/Navbar/ui/Navbar/NavbarRedesigned/NavbarRedesigned.module.scss
  src/widgets/Navbar/ui/Navbar/NavbarRedesigned/NavbarRedesigned.stories.tsx
  src/widgets/Navbar/ui/Navbar/NavbarRedesigned/NavbarRedesigned.tsx
  src/widgets/Navbar/ui/Navbar/NavbarRedesigned/NavbarRedesignedSkeleton.tsx
  src/widgets/Navbar/ui/Navbar/NavbarSkeleton.tsx
  src/widgets/Sidebar/index.ts
  src/widgets/Sidebar/ui/Sidebar/SidebarRedesigned/SidebarRedesigned.module.scss
  src/widgets/Sidebar/ui/Sidebar/SidebarRedesigned/SidebarRedesigned.tsx
  src/widgets/Sidebar/ui/Sidebar/SidebarRedesigned/SidebarRedesignedSkeleton.tsx
  src/widgets/Sidebar/ui/Sidebar/SidebarSkeleton.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Redesign scroll
  src/app/styles/index.scss
Due: prettier --write, stylelint --fix

Fix sidebar skeleton
  src/shared/ui/redesigned/Skeleton/Skeleton.module.scss
  src/shared/ui/redesigned/Skeleton/Skeleton.tsx
  src/widgets/Sidebar/ui/Sidebar/SidebarRedesigned/SidebarRedesignedSkeleton.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Add scrollToolbar widget, useAppToolbar, useCurrentRoutePath
  .vscode/launch.json
  json-server/db.json
  src/app/App.tsx
  src/app/lib/useAppToolbar.tsx
  src/app/styles/index.scss
  src/entities/Article/ui/ArticleListItem/ArticleListItemRedesigned/ArticleListItemRedesigned.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItemRedesigned/ArticleListItemSkeletonRedesigned.tsx
  src/features/ScrollToTop/index.ts
  src/features/ScrollToTop/ui/ScrollToTopButton/ScrollToTopButton.stories.tsx
  src/features/ScrollToTop/ui/ScrollToTopButton/ScrollToTopButton.tsx
  src/pages/ArticlesPage/ui/ArticlesPage/ArticlesPage.tsx
  src/shared/assets/icons/redesigned/circle-arrow-up.svg
  src/shared/const/router/routePath.ts
  src/shared/layouts/MainLayout/MainLayout.module.scss
  src/shared/lib/router/useCurrentRoutePath.ts
  src/shared/lib/scroll/useWindowScroll.ts
  src/shared/ui/redesigned/Avatar/Avatar.tsx
  src/shared/ui/redesigned/Button/Button.module.scss
  src/shared/ui/redesigned/Button/Button.stories.tsx
  src/shared/ui/redesigned/Button/Button.tsx
  src/widgets/Navbar/ui/Navbar/NavbarRedesigned/NavbarRedesigned.module.scss
  src/widgets/ScrollToolbar/index.ts
  src/widgets/ScrollToolbar/ui/ScrollToolbar/ScrollToolbar.module.scss
  src/widgets/ScrollToolbar/ui/ScrollToolbar/ScrollToolbar.stories.tsx
  src/widgets/ScrollToolbar/ui/ScrollToolbar/ScrollToolbar.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Fix scroll position for articleDetails, add skipScrollPosition, update feature flags api
  src/app/lib/useAppToolbar.tsx
  src/features/ScrollToTop/ui/ScrollToTopButton/ScrollToTopButton.tsx
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/ArticleDetailsPageRedesigned/ArticleDetailsPageRedesigned.tsx
  src/shared/lib/features/api/featureFlagsApi.ts
  src/shared/lib/router/useCurrentRoutePath.ts
  src/shared/lib/scroll/useWindowScroll.ts
  src/widgets/Page/ui/Page/Page.tsx
Due: prettier --write, eslint --fix

Fix cypress, unit tests
  cypress/e2e/article/article-list.cy.ts
  cypress/support/commands.ts
  cypress/support/commands/common.ts
  cypress/support/commands/component.tsx
  cypress/support/component-index.html
  json-server/db.json
  src/pages/NotFoundPage/ui/NotFoundPage.tsx
Due: prettier --write, eslint --fix

Add tolerance to loki test
  json-server/db.json
  package.json
Due: none

Add chrome tolerance as cli option, fix bug with deploy unable to pull
  .github/workflows/building-and-deploying.yml
  package.json
Due: none

Add threshold for pixel match
  package.json
Due: none

Make gm diff engine only for ci
  .github/workflows/testing.yml
  package-lock.json
  package.json
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  eslint --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.scss
