Repository Demianeen/react-production: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.scss": [
    "prettier --write",
    "stylelint --fix"
  ]
}

Add useModal hooks, upgrade drawer
  src/entities/User/model/selectors/getIsUserLogged/getIsUserLogged.test.ts
  src/entities/User/model/selectors/getIsUserLogged/getIsUserLogged.ts
  src/shared/lib/hooks/useModal/useModal.ts
  src/shared/ui/Drawer/Drawer.module.scss
  src/shared/ui/Drawer/Drawer.tsx
  src/shared/ui/Modal/Modal.module.scss
  src/shared/ui/Modal/Modal.tsx
  src/widgets/Navbar/ui/Navbar.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Add gestures, react spring, dynamic lib loader with AnimationProvider
  .idea/i18nSettings.xml
  package-lock.json
  package.json
  src/entities/Notification/ui/NotificationList/NotificationList.module.scss
  src/entities/Notification/ui/NotificationList/NotificationList.tsx
  src/features/NotificationButton/ui/NotificationButton/NotificationButton.module.scss
  src/features/NotificationButton/ui/NotificationButton/NotificationButton.stories.tsx
  src/features/NotificationButton/ui/NotificationButton/NotificationButton.tsx
  src/features/NotificationButton/ui/NotificationDrawer/NotificationDrawer.stories.tsx
  src/shared/lib/components/AnimationProvider/AnimationProvider.tsx
  src/shared/lib/components/AnimationProvider/index.ts
  src/shared/lib/components/AnimationProvider/lib/AnimationContext.tsx
  src/shared/lib/components/AnimationProvider/lib/getAsyncAnimationModules.tsx
  src/shared/lib/components/AnimationProvider/lib/useAnimationLibs.tsx
  src/shared/ui/Drawer/Drawer.module.scss
  src/shared/ui/Drawer/Drawer.tsx
  src/shared/ui/Overlay/Overlay.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Add chrome retries to test:ui
  package.json
Due: none

Add patch-package, fix create-chrome-target.js in loki
  package-lock.json
  package.json
  patches/@loki+target-chrome-core+0.31.2.patch
Due: none

Add temporal skip for not loading stories
  .loki/reference/chrome_iphone7_entities_Article_ArticleDetails_Loading.png
  .loki/reference/chrome_iphone7_entities_Notification_NotificationList_Loading.png
  .loki/reference/chrome_iphone7_features_NotificationButton_Light.png
  .loki/reference/chrome_iphone7_features_NotificationButton_NotificationButton_Empty.png
  .loki/reference/chrome_iphone7_features_NotificationButton_NotificationButton_Error.png
  .loki/reference/chrome_iphone7_features_NotificationButton_NotificationButton_Light.png
  .loki/reference/chrome_iphone7_features_NotificationButton_NotificationButton_Loading.png
  .loki/reference/chrome_iphone7_features_NotificationButton_NotificationDrawer_Error.png
  .loki/reference/chrome_iphone7_features_NotificationButton_NotificationDrawer_Light.png
  .loki/reference/chrome_iphone7_features_NotificationButton_NotificationDrawer_Loading.png
  .loki/reference/chrome_laptop_entities_Article_ArticleDetails_Loading.png
  .loki/reference/chrome_laptop_entities_Notification_NotificationList_Loading.png
  .loki/reference/chrome_laptop_features_NotificationButton_Light.png
  .loki/reference/chrome_laptop_features_NotificationButton_NotificationButton_Empty.png
  .loki/reference/chrome_laptop_features_NotificationButton_NotificationButton_Error.png
  .loki/reference/chrome_laptop_features_NotificationButton_NotificationButton_Light.png
  .loki/reference/chrome_laptop_features_NotificationButton_NotificationButton_Loading.png
  .loki/reference/chrome_laptop_features_NotificationButton_NotificationDrawer_Error.png
  .loki/reference/chrome_laptop_features_NotificationButton_NotificationDrawer_Light.png
  .loki/reference/chrome_laptop_features_NotificationButton_NotificationDrawer_Loading.png
  config/storybook/preview.ts
  src/entities/Article/ui/ArticleDetails/ArticleDetails.stories.tsx
  src/entities/Article/ui/ArticleDetails/ArticleDetails.tsx
  src/entities/Notification/ui/NotificationList/NotificationList.stories.tsx
  src/entities/Notification/ui/NotificationList/NotificationList.tsx
  src/entities/Profile/mocks/profileHandlers.ts
Due: prettier --write, eslint --fix

Fix bug with drawer gestures not working
  json-server/db.json
  package-lock.json
  package.json
  src/entities/Notification/api/notificationApi.ts
  src/entities/Notification/api/notificationApiApi.ts
  src/entities/Notification/ui/NotificationList/NotificationList.tsx
  src/shared/ui/Drawer/Drawer.module.scss
  src/shared/ui/Drawer/Drawer.tsx
  src/shared/ui/Stack/Flex/Flex.module.scss
  src/shared/ui/Stack/Flex/Flex.tsx
  src/shared/ui/Text/Text.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

Remove chromeConcurrency from test:ui
  package.json
Due: none

Fix drawer, add browser list config
  .browserslistrc
  src/features/NotificationButton/ui/NotificationButton/NotificationButton.tsx
  src/shared/ui/Drawer/Drawer.tsx
Due: prettier --write, eslint --fix

Fix handlers
  config/storybook/preview.ts
  src/entities/Article/index.ts
  src/entities/Comment/index.ts
  src/entities/Notification/model/mocks/notificationHandlers.ts
  src/entities/Notification/model/mocks/notificationMockData.ts
  src/entities/Notification/ui/NotificationItem/NotificationItem.stories.tsx
  src/entities/Profile/index.ts
Due: prettier --write, eslint --fix

Add vite for development mode
  .eslintrc.js
  index.html
  package-lock.json
  package.json
  src/shared/ui/Dropdown/Dropdown.module.scss
  src/shared/ui/Dropdown/Dropdown.stories.tsx
  src/shared/ui/Dropdown/Dropdown.tsx
  tsconfig.json
  tsconfig.node.json
  tsconfig.project.json
  vite.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

Add star rating, rating entity, rating card, fix drawer animation
  .eslintrc.js
  package-lock.json
  package.json
  public/locales/en/translation.json
  public/locales/ua/translation.json
  scripts/createSlice/generators/createUi/templates/stories.template.ts
  src/entities/Rating/index.ts
  src/entities/Rating/ui/RatingCard/RatingCard.stories.tsx
  src/entities/Rating/ui/RatingCard/RatingCard.tsx
  src/features/NotificationButton/ui/NotificationButton/NotificationButton.tsx
  src/shared/assets/icons/star-20-20.svg
  src/shared/assets/icons/star-24-22.svg
  src/shared/lib/hooks/useModal/useModal.ts
  src/shared/ui/Button/Button.module.scss
  src/shared/ui/Button/Button.tsx
  src/shared/ui/Card/Card.module.scss
  src/shared/ui/Card/Card.tsx
  src/shared/ui/Drawer/Drawer.module.scss
  src/shared/ui/Drawer/Drawer.tsx
  src/shared/ui/Icon/Icon.module.scss
  src/shared/ui/Icon/Icon.tsx
  src/shared/ui/Modal/Modal.module.scss
  src/shared/ui/Modal/Modal.tsx
  src/shared/ui/StarRating/StarRating.module.scss
  src/shared/ui/StarRating/StarRating.stories.tsx
  src/shared/ui/StarRating/StarRating.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Add skip pattern for loki for loading
  .loki/reference/chrome_iphone7_entities_Article_ArticleDetails_Loading.png
  .loki/reference/chrome_iphone7_entities_Comment_CommentCardIsLoading_Dark.png
  .loki/reference/chrome_iphone7_entities_Comment_CommentCardIsLoading_Light.png
  .loki/reference/chrome_iphone7_entities_Comment_CommentCardIsLoading_Red.png
  .loki/reference/chrome_iphone7_entities_Notification_NotificationList_Loading.png
  .loki/reference/chrome_iphone7_entities_ProfileCard_Loading.png
  .loki/reference/chrome_iphone7_features_ArticleCommentList_Loading.png
  .loki/reference/chrome_iphone7_features_ArticleInfiniteList_ArticleInfiniteList_Loading.png
  .loki/reference/chrome_iphone7_features_EditableProfileCard_EditableProfileCard_Loading.png
  .loki/reference/chrome_iphone7_features_LoginForm_Loading.png
  .loki/reference/chrome_laptop_entities_Article_ArticleDetails_Loading.png
  .loki/reference/chrome_laptop_entities_Comment_CommentCardIsLoading_Dark.png
  .loki/reference/chrome_laptop_entities_Comment_CommentCardIsLoading_Light.png
  .loki/reference/chrome_laptop_entities_Comment_CommentCardIsLoading_Red.png
  .loki/reference/chrome_laptop_entities_Notification_NotificationList_Loading.png
  .loki/reference/chrome_laptop_entities_ProfileCard_Loading.png
  .loki/reference/chrome_laptop_features_ArticleCommentList_Loading.png
  .loki/reference/chrome_laptop_features_ArticleInfiniteList_ArticleInfiniteList_Loading.png
  .loki/reference/chrome_laptop_features_EditableProfileCard_EditableProfileCard_Loading.png
  .loki/reference/chrome_laptop_features_LoginForm_Loading.png
  package.json
Due: none

Remove caching for ui tests, fix screens
  .github/workflows/testing.yml
  .loki/reference/chrome_iphone7_entities_Notification_NotificationList_Dark.png
  .loki/reference/chrome_iphone7_entities_Notification_NotificationList_Empty.png
  .loki/reference/chrome_iphone7_entities_Notification_NotificationList_Error.png
  .loki/reference/chrome_iphone7_entities_Notification_NotificationList_Light.png
  .loki/reference/chrome_iphone7_entities_Notification_NotificationList_Red.png
  .loki/reference/chrome_laptop_entities_Notification_NotificationList_Dark.png
  .loki/reference/chrome_laptop_entities_Notification_NotificationList_Empty.png
  .loki/reference/chrome_laptop_entities_Notification_NotificationList_Error.png
  .loki/reference/chrome_laptop_entities_Notification_NotificationList_Light.png
  .loki/reference/chrome_laptop_entities_Notification_NotificationList_Red.png
  src/entities/Notification/ui/NotificationList/NotificationList.stories.tsx
Due: prettier --write, eslint --fix

Update testing.yml
  .github/workflows/testing.yml
Due: none

Update custom eslint plugin, add support for aliases
  .eslintrc.js
  package-lock.json
  package.json
Due: none

Refactor route config
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/router/ui/AppRouter.tsx
  src/app/providers/router/ui/RequireAuth.tsx
  src/app/providers/router/ui/RequireRoles.tsx
  src/entities/Article/ui/ArticleDetailsHeader/ArticleDetailsHeader.tsx
  src/entities/Article/ui/ArticleListItem/ArticleListItem.tsx
  src/entities/Comment/ui/CommentCard/CommentCard.tsx
  src/features/UserDropdown/ui/UserDropdown/UserDropdown.tsx
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/ArticleDetailsPage.stories.tsx
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/ArticleDetailsPage.tsx
  src/pages/ProfilePage/ui/ProfilePage/ProfilePage.stories.tsx
  src/shared/const/appRoutes.ts
  src/shared/const/routePath.ts
  src/shared/types/router.ts
  src/widgets/Navbar/ui/Navbar.tsx
  src/widgets/Page/model/slice/pageSlice.test.ts
  src/widgets/Sidebar/model/selectors/getSidebarItems/getSidebarItems.test.ts
  src/widgets/Sidebar/model/selectors/getSidebarItems/getSidebarItems.ts
  src/widgets/Sidebar/ui/SidebarItem/SidebarItem.stories.tsx
Due: prettier --write, eslint --fix

Update eslint plugin, add autofix for public api
  package-lock.json
  package.json
  scripts/isPublicApiHaveExport.ts
  src/entities/User/index.ts
Due: prettier --write, eslint --fix

Update README
  README.md
  docs/tests.md
Due: none

Fix build
  src/shared/ui/Button/Button.stories.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
  webpack.config.ts
Due: prettier --write, eslint --fix

Fix ArticleRating story name
  src/features/ArticleRating/ui/ArticleRating/ArticleRating.stories.tsx
Due: prettier --write, eslint --fix
